<div class="container">
	<%= render "partials/alert" %>

	<%= form_for @food, url: food_path do |f| %>
		<%= f.hidden_field :created_by_user_id, value: current_user.id %>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label :category, 'Food Category' %>
			<%= f.select(:category, Category.food_categories.collect { |key, value| [value.capitalize, key] }, { prompt: 'Select Food Category' }, class: 'form-control') %>
		</div>

		<div class="form-group">
			<%= f.label :calories, "Total Calories:" %>
			<%= f.text_field :calories, class: 'form-control' %>
		</div>

		<div class="row">
			<div class="col-sm-4 form-group">
				<%= f.label :protein, "Protein (g)" %>
				<%= f.number_field :protein, value: @food.protein, step: :any %>
			</div>
			<div class="col-sm-4 form-group">
				<%= f.label :carbs, "Carbohydrate (g)" %>
				<%= f.number_field :carbs, value: @food.carbs, step: :any %>
			</div>
			<div class="col-sm-4 form-group">
				<%= f.label :fat, "Fat (g)" %>
				<%= f.number_field :fat, value: @food.fat, step: :any %>
			</div>
		</div>

		<%= f.submit %>
	<% end %>
</div>
