<%= form_for @category, url: category_path(@category.id), method: :patch do |f| %>
  <div class="row">
	  <div class="col-md-12 col-sm-12 form-group">
	    <%= f.label :name, class: 'col-md-12' %>
	    <%= f.text_field :name, class: 'col-md-12 form-control' %>
	  </div>
  </div>

  <div class="row">
	  <div class="col-md-6 col-sm-12 form-group">
	    <%= f.label :tag, class: 'col-md-12' %>
	    <%= f.select :tag, Category.style_tags.collect { |category| [category[0], category[0], class: "#{category[1]['background-color']} #{category[1]['text-color']}"] }, { placeholder: "--- Please select a tag for your category ---"}, { class: 'col-md-12 form-control' } %>
	  </div>
    <div class="col-md-6 col-sm-12 form-group">
      <%= f.label :goal_id, class: 'col-md-12' %>
      <%= f.select :goal_id, User.goals.collect { |key, goal| [goal, key] }, { placeholder: "--- Please select a goal associated to this category ---"}, {class: 'col-md-12 form-control'} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
  	 <%= f.submit "Update Category", class: 'btn pull-right' %>
    </div>
  </div>
<% end %>
