<%= hidden_field_tag 'selected_food_ids', '', id: 'selected_food_ids' %>
    <%#= hidden_field_tag 'selected_food_qtys', '', id: 'selected_food_qtys' %>

    <div class="row">
			<div class="jumbotron boomslang-green" style="width:100%;">
				<h4 class="text-center app-font">Total Calories Available: <span id="totalCaloriesAvail"><%= current_user.tdee - @daily_log.total_calories %></span>g</h4>
				<h4 class="text-center app-font">Total Calories Selected: <span id="totalCalories">0</span>g</h4>
				<h4 class="text-center app-font">Total Carbs Available: <span id="totalCarbs"><%= @gym.carb_limit - @daily_log.total_carbs %></span>g</h4>
				<h4 class="text-center app-font">Protein Goal Per Meal: <span id="totalProtein"><%= @gym.protein_threshold %></span>g</h4>
				<%= f.submit "Log It", class: 'btn btn-block workout-btn', id: 'submit-btn', style: "background-color:#F29F05;color:white;", data: {confirm: "Have you selected all the food you want to add? You can verify this under the Selected Food tab."} %>
			</div>
		</div>

		<ul class="nav nav-tabs nav-fill" id="foodCategoryTabs" role=tablist style="overflow-x: auto;overflow-y:hidden;flex-wrap: nowrap;margin-top:-25px;">
			<li class='nav-item'><a class='nav-link' id='selected-list-tab' data-toggle='tab' href='#selected-list' role='tab' aria-controls='selected-list' aria-selected='true'>Selected Food <span class="badge boomslang-green" id="selected-food" style="color:black">0</span></a></li>
			<!-- <li class="nav-item"><a class="nav-link active" id='favorites-list-tab' data-toggle='tab' href='#favorites-list' role='tab' aria-controls='favorites-list' aria-selected='true'>Recent Foods</a></li></li> -->
			<!-- <li class="nav-item"><a class="nav-link" id='meal-groups-list-tab' data-toggle='tab' href='#meal-groups-list' role='tab' aria-controls='meal-groups-list' aria-selected='true'>Meals</a></li></li> -->
			<% @food_categories.values.each_with_index do |cat, idx| %>
				<li class="nav-item">
					<%= link_to '#', class: "nav-link #{'active' if idx.zero?}", id: "#{cat.gsub('/', '-')}-tab",
						data: {toggle: 'tab'}, href: "##{cat.gsub('/', '-')}", role: "tab", aria: {controls: "#{cat.gsub('/', '-')}", selected: "true"}  do %>
						<%= cat.capitalize %> <i class="<%= @icons[idx] %>"></i>
					<% end %>
			  </li>
			<% end %>
		</ul>

		<div class="tab-content" id="foodCategoryTabContent">
			<div class="tab-pane fade" id="selected-list" role="tabpanel" aria-labelledby="selected-list-tab" style="height: 280px;overflow-y: scroll;">
	  		<table id="item-table" class="table">
					<thead>
						<tr>
							<th>Food</th>
							<th>Total Calories</th>
							<th/>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
	  	</div>
			<!-- <div class="tab-pane fade show active" id="favorites-list" role="tabpanel" aria-labelledby="favorites-list-tab" style="height: 280px;overflow-y: scroll;">
				<table class="table">
	  			<thead>
	  				<tr>
	  					<th></th>
	  					<th>Name</th>
	  					<th>Calories</th>
	  					<th />
	  				</tr>
	  			</thead>
	  			<tbody>
	  				<% @favorite_foods.each do |food| %>
	  					<tr>
		  					<td><%= button_tag 'Add', class: 'btn add_food', style: 'background-color:#F29F05;color:white;' %></td>
		  					<td class="foodName"><%= food.name %></td>
		  					<td class="foodCalories"><%= food.calories %></td>
	  						<td><i class="fa fa-info-circle fa-lg" data-container="body" data-toggle="popover" data-html='true' data-placement="left" data-content="<h5 class='text-center'><%= food.name %></h5><hr />* Protein (g): <%= food.protein%><br />* Carbs(g): <%= food.carbs %><br />* Fats (g): <%= food.fat %><br />* Serving Size: <%= food.serving_size %>"></i></td>
		  					<td class="foodId" style="display:none;"><%= food.id %></td>
		  				</tr>
	  				<% end %>
	  			</tbody>
		  	</table>
			</div>
			<div class="tab-pane fade show" id="meal-groups-list" role="tabpanel" aria-labelledby="meal-groups-list-tab" style="height: 280px;overflow-y: scroll;">
				<div style="height: 280px;overflow-y: scroll;">
		  		<table class="table">
		  			<thead>
		  				<tr>
		  					<th></th>
		  					<th>Name</th>
		  					<th>Calories</th>
		  					<th />
		  				</tr>
		  			</thead>
		  			<tbody>
							<% @meals.each_with_index do |meal, idx| %>
								<% food_group_pairings = meal.food_group_pairings %>
								<tr>
			  					<td><%= button_tag 'Add', class: 'btn add_meal', style: 'background-color:#F29F05;color:white;' %></td>
			  					<td class="foodName"><%= meal.name %></td>
			  					<td class="foodCalories"><%= food_group_pairings.sum { |pair| pair.food.calories } %></td>
									<td><i class="fa fa-info-circle fa-lg" data-container="body" data-toggle="popover" data-html="true" data-placement="left" data-content="<h5 class='text-center'><%= meal.name %></h5><hr />* Protein (g): <%= food_group_pairings.sum { |pair| pair.food.protein } %><br/>* Carbs(g): <%= food_group_pairings.sum { |pair| pair.food.carbs } %><br />* Fats (g): <%= food_group_pairings.sum { |pair| pair.food.fat } %> <hr /><p>Foods included in meal:<hr/><% food_group_pairings.each do |pairing| %>* <%= pairing.food.name %> - <%= pairing.serving_qty %> x <%= pairing.food.serving_size %> <br /><% end %><p>"></i></td>
			  					<td class="mealId" style="display:none;"><%= meal.id %></td>
			  				</tr>
							<% end %>
						</tbody>
						</table>
				</div>
			</div> -->
			<% @food_categories.each_with_index do |cat, idx| %>
		  	<div class="tab-pane fade <%= 'show active' if idx.zero? %>" id="<%= cat[1].gsub('/', '-') %>" role="tabpanel" aria-labelledby="<%= cat[1].gsub('/', '-') %>-tab" style="height: 280px;">
		  		<div class="row" style="margin-top:10px;">
	  				<div class="input-group">
							<%= text_field_tag :search, nil, class: 'form-control col-8 offset-1 search', id: "#{cat[1].gsub('/', '-')}_search" %>
				  		<div class="input-group-append">
				      	<%= button_tag '', class: 'btn btn-success clear-submit btn-outline-success' do %>
				      		<i class="fa fa-remove" aria-hidden="true"></i>
				      	<% end %>
				      	<%= button_tag '', class: 'btn btn-success search-submit btn-outline-success' do %>
				      		<i class="fa fa-search" aria-hidden="true"></i>
				      	<% end %>
				      </div>
				    </div>
				  </div>
				  <div style="height: 280px;overflow-y: scroll;">
			  		<table class="table">
			  			<thead>
			  				<tr>
			  					<th></th>
			  					<th>Name</th>
			  					<th>Calories</th>
			  					<th />
			  				</tr>
			  			</thead>
			  			<tbody>
					  		<% @foods[cat[0]]&.each do |food| %>
				  				<tr>
				  					<td class="protein" style="display:none;"><%= food.protein %></td>
				  					<td class="carbs" style="display:none;"><%= food.carbs %></td>
				  					<td><%= button_tag 'Add', class: 'btn add_food', style: 'background-color:#F29F05;color:white;' %></td>
				  					<td class="foodName"><%= food.name %></td>
				  					<td class="foodCalories"><%= food.calories %></td>
			  						<td><i class="fa fa-info-circle fa-lg" data-container="body" data-toggle="popover" data-html="true" data-placement="left" data-content="<h5 class='text-center'><%= food.name %></h5><hr/>* Protein (g): <%= food.protein%><br />* Carbs(g): <%= food.carbs %><br />* Fats (g): <%= food.fat %><br />* Serving Size: <%= food.serving_size %>"></i></td>
				  					<td class="foodId" style="display:none;"><%= food.id %></td>
				  				</tr>
				  			<% end %>
			  			</tbody>
			  		</table>
			  	</div>
		  	</div>
		  <% end %>
		</div>

<script>
	$('.fa-info-circle').popover();
	$('.fa-info-circle').on('click', function (e) {
    $('.fa-info-circle').not(this).popover('hide');
	});

	$('.add_food').on('click', function(e){
		e.preventDefault();
		updateTable($(this));
		updateTotal($(this));
	});

	$('#submit-btn').on('click', function(e){
		if (parseInt($('#totalProtein').text()) > 0 ) {
			$('#submit-btn').attr('data-confirm', "We recommend every meal entered you hit the set protein threshold for best results. You are under this number, are you sure you don't want to add additional food to this meal?")
		} else if (parseInt($('#totalCarbs').text()) < 0) {
			$('#submit-btn').attr('data-confirm', "We have set the carb limit for our meal plan to 50 g or less. You are over this limit, for best results try and stay under 50g of carbs per day. Are you sure you want to submit your food?")
		}
	})

	$('.add_meal').on('click', function(e){
		e.preventDefault();

		let meal_id = $(this).parents('tr').children('td.mealId').text();

		$.ajax({
		  url: "/food_group/add_meal",
		  method: "GET",
		  data: { id : meal_id },
		  dataType: "json"
		}).done(function(return_data){
			$.each(return_data['food_pairings'], function(index, food_pairing){
				for (i = 0; i < food_pairing.serving_qty; i++) {
					$('#item-table tbody').append('<tr><td style="display:none;">' + food_pairing.food_id + '</td><td>' + food_pairing.food.name + '</td><td class="selectedCalories">' + food_pairing.food.calories + '</td><td><%= button_tag 'Remove', class: 'btn btn-danger remove_food', onClick: 'removeData(this)' %></td></tr>');
					$('#selected_food_ids').val($('#selected_food_ids').val() + ',' + food_pairing.food_id);
					$('#selected-food').text(parseInt($('#selected-food').text()) + 1);

					$('#totalCalories').text(parseFloat($('#totalCalories').text()) + food_pairing.food.calories)
					$('#totalCaloriesAvail').text(parseFloat($('#totalCaloriesAvail').text()) - food_pairing.food.calories)

					if (parseFloat($('#totalCaloriesAvail').text()) < 0.0) {
						$('#totalCaloriesAvail').css('color', 'red');
					} else {
					 	$('#totalCaloriesAvail').css('color', 'black');
					}
				}
			})
		});
	})

	$('.search-submit, .clear-submit').on('click', function(e) {
		e.preventDefault();
		let searchString = $(this).attr('class').includes('clear-submit') ? '' : $(this).parent().siblings('input').val()
		let searchCategory = $(this).parent().siblings('input').attr('id')

		$.ajax({
		  url: "/food/search",
		  method: "GET",
		  data: { search_string : searchString, search_category: searchCategory },
		  dataType: "json"
		}).done(function(return_data){
			let tableBody = $(e.target).parents('.active').children().last().children().children('tbody');
			tableBody.children().remove();
			$.each(return_data['foods'], function( index, food ) {
				tableBody.append(
					"<tr><td><button class='btn add_food', style='background-color:#F29F05;color:white;'>Add</button></td><td class='foodName'>" + `${food.name}` + "</td><td class='foodCalories'>" + `${food.calories}` + "</td><td><i class='fa fa-info-circle fa-lg' data-container='body' data-toggle='popover' data-html='true' data-placement='left' data-content='<h5 class=`text-center`>" + `${food.name}` + "</h5>* Protein (g): " +  `${food.protein}` + "<br/>* Carbs(g): " + `${food.carbs}` + "<br />* Fats (g): " +  `${food.fat}` + "<br />* Serving Size: " + `${food.serving_size}` + "'></i></td><td class='foodId' style='display:none;'>" + `${food.id}` + "</td></tr>"
				)
			});
			$('.fa-info-circle').popover();
			$('.fa-info-circle').on('click', function (e) {
		    $('.fa-info-circle').not(this).popover('hide');
			});
			$('.add_food').on('click', function(e){
				e.preventDefault();
				updateTable($(this));
				updateTotal($(this));
			});
		});
	});

	function updateTotal(data){
		$('#totalCalories').text(parseFloat($('#totalCalories').text()) + parseFloat(data.parent().siblings('.foodCalories').text()))
		$('#totalCaloriesAvail').text(parseFloat($('#totalCaloriesAvail').text()) - parseFloat(data.parent().siblings('.foodCalories').text()))
		$('#totalProtein').text(parseFloat($('#totalProtein').text()) - parseFloat(data.parent().siblings('td.protein').text()))
		$('#totalCarbs').text(parseFloat($('#totalCarbs').text()) - parseFloat(data.parent().siblings('.carbs').text()))

		if (parseFloat($('#totalCaloriesAvail').text()) < 0.0) {
			$('#totalCaloriesAvail').css('color', 'red');
		} else {
		 	$('#totalCaloriesAvail').css('color', 'black');
		}
	};

	function updateTable(data) {
		let id = data.parent().siblings('.foodId').text();
		$('#item-table tbody').append('<tr><td style="display:none;" class="protein">' + data.parent().siblings('.protein').text() + '</td><td style="display:none;" class="carbs">' + data.parent().siblings('.carbs').text() + '<td style="display:none;">' + id + '</td><td>' + data.parent().siblings('.foodName').text() + '</td><td class="selectedCalories">' + data.parent().siblings('.foodCalories').text() + '</td><td><%= button_tag 'Remove', class: 'btn btn-danger remove_food', onClick: 'removeData(this)' %></td></tr>');
		$('#selected_food_ids').val($('#selected_food_ids').val() + ',' + id);
		$('#selected-food').text(parseInt($('#selected-food').text()) + 1);
	}

	function removeData() {
		event.preventDefault();
		console.log($(event.target).parent().siblings())
		let removeFoodId = $(event.target).parents('tr').children().first().text();

		let calorieCount = $(event.target).parent().siblings().last().text();
		let proteinCount = $(event.target).parent().siblings('.protein').text();
		let carbCount = $(event.target).parent().siblings('.carbs').text();

		$('#totalCalories').text(parseFloat($('#totalCalories').text()) - parseFloat(calorieCount));
		$('#totalCaloriesAvail').text(parseFloat($('#totalCaloriesAvail').text()) + parseFloat(calorieCount));
		$('#totalProtein').text(parseFloat($('#totalProtein').text()) + parseFloat(proteinCount));
		$('#totalCarbs').text(parseFloat($('#totalCarbs').text()) + parseFloat(carbCount));

		let counter = 0;
		let ids = $('#selected_food_ids').val().split(',')
		ids.forEach(function(num, idx){
		  if (num === removeFoodId) {
			  if (counter === 0) {
		  	  ids.splice(idx, 1)
			  }
			  counter++
		  }
		})
		$('#selected_food_ids').val(ids);

		$('span.badge').text(parseInt($('span.badge').text()) - 1);
		$(event.target).parents('tr').remove()

		if (parseFloat($('#totalCaloriesAvail').text()) < 0.0) {
			$('#totalCaloriesAvail').css('color', 'red');
		} else {
			console.log("NOT NEG")
			$('#totalCaloriesAvail').css('color', 'black');
		}
	}
</script>