<div class="container">
	<%= render "partials/alert" %>

	<%= form_for @daily_log, url: daily_log_path(@daily_log.id), remote: true do |f| %>
   <%= hidden_field_tag 'selected_food_ids', '', id: 'selected_food_ids' %>
    <%#= hidden_field_tag 'selected_food_qtys', '', id: 'selected_food_qtys' %>

		<div class="jumbotron">
			<h4 class="text-center">Total Calories Available: <span id="totalCaloriesAvail"><%= current_user.tdee - @daily_log.total_calories %></span>g</h4>
			<h4 class="text-center">Total Calories Selected: <span id="totalCalories">0</span>g</h4>
			<%= f.submit "Log It", class: 'btn btn-block workout-btn', data: {confirm: "Have you selected all the food you want to add? You can verify this under the Selected Food tab." }%>
		</div>

		<ul class="nav nav-tabs nav-fill" id="foodCategoryTabs" role=tablist>
			<% @food_categories.values.each_with_index do |cat, idx| %>
				<li class="nav-item">
					<%= link_to cat.capitalize, '#', class: "nav-link #{idx == 0 ? 'active': ''}", id: "#{cat}-tab",
						data: {toggle: 'tab'}, href: "##{cat}", role: "tab", aria: {controls: "#{cat}", selected: "true"} %>
			  </li>
			<% end %>
			<li class='nav-item'><a class='nav-link' id='selected-list-tab' data-toggle='tab' href='#selected-list' role='tab' aria-controls='selected-list' aria-selected='true'>Selected Food <span class="badge boomslang-green" id="selected-food" style="color:black">0</span></a></li>
		</ul>

		<div class="tab-content" id="foodCategoryTabContent">
			<% @food_categories.values.each_with_index do |cat, idx| %>
		  	<div class="tab-pane fade <%= idx == 0 ? 'show active' : '' %>" id="<%= cat %>" role="tabpanel" aria-labelledby="<%= cat %>-tab">
		  		<table class="table">
		  			<thead>
		  				<tr>
		  					<th></th>
		  					<th>Name</th>
		  					<th>Calories</th>
		  					<th />
		  				</tr>
		  			</thead>
		  			<tbody>
				  		<% @foods[cat]&.each do |food| %>
			  				<tr>
			  					<td><%= button_tag 'Add', class: 'btn btn-primary add_food' %></td>
			  					<td class="foodName"><%= food.name %></td>
			  					<td class="foodCalories"><%= food.calories %></td>
		  						<td><i class="fa fa-info-circle fa-lg" data-container="body" data-toggle="popover" data-placement="top" data-content="Protein (g): <%= food.protein%>, Carbs(g): <%= food.carbs %>, Fats (g): <%= food.fat %>, Serving Sise: <%= food.serving_size %>"></i></td>
			  					<td class="foodId" style="display:none;"><%= food.id %></td>
			  				</tr>
			  			<% end %>
		  			</tbody>
		  		</table>
		  	</div>
		  	<div class="tab-pane fade" id="selected-list" role="tabpanel" aria-labelledby="selected-list-tab">
		  		<table id="item-table" class="table">
						<thead>
							<tr>
								<th>Food</th>
								<th>Total Calories</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
		  	</div>
		  <% end %>
		</div>
	<% end %>
</div>

<script>
	$('.fa-info-circle').popover();

	$('.add_food').on('click', function(e){
		e.preventDefault();
		updateTable($(this));
		updateTotal($(this));
	});

	function updateTotal(data){
		$('#totalCalories').text(parseFloat($('#totalCalories').text()) + parseFloat(data.parent().siblings('.foodCalories').text()))
		$('#totalCaloriesAvail').text(parseFloat($('#totalCaloriesAvail').text()) - parseFloat(data.parent().siblings('.foodCalories').text()))
		if (parseFloat($('#totalCaloriesAvail').text()) < 0.0) {
			$('#totalCaloriesAvail').css('color', 'red');
		}
	};

	function updateTable(data) {
		let qty = $('#qty').val();
		$('#item-table tbody').append('<tr><td>' + data.parent().siblings('.foodName').text() + '</td><td>' + data.parent().siblings('.foodName').text() + '</td></tr>');
		$('#selected_food_ids').val($('#selected_food_ids').val() + ',' + data.parent().siblings('.foodId').text());
		$('#selected-food').text(parseInt($('#selected-food').text()) + 1);
		// $('#selected_food_qtys').val($('#selected_food_qtys').val() + ',' + qty);
	}
</script>
