<div class="container app-font" style="margin-top:20px;">
	<div class="jumbotron" style="background: #025951;color: white;opacity:0.8;">
		<h4 class="text-center app-font">Daily Food Logs</h4>
		<p class="text-center"><%= link_to "Create Food", new_food_path, style: 'color:#A7C8F2;' %></p>
	</div>
	<div class="card">
	  <div class="card-body">
	    <table class="table table-striped">
				<thead>
					<tr>
						<td style="text-align:center;">Log Date</td>
						<td style="text-align:center;">Total Calories</td>
						<td />
					</tr>
				</thead>
				<tbody>
					<% @daily_logs.each do |daily_log| %>
						<tr>
							<td style="vertical-align: middle;text-align:center;"><%= daily_log.calendar_date.strftime("%m/%d/%Y") %></td>
							<td style="vertical-align: middle;text-align:center;"><%= daily_log.total_calories %></td>
							<td>
								<div class="btn-group-vertical">
									<%= link_to "View Log", daily_log_path(daily_log.id), class: 'btn btn-sm', style: 'background-color:#F29F05;color:white;' %><br/>
									<%#= link_to "Add Food", edit_daily_log_path(daily_log.id), class: 'btn btn-sm btn-warning' if daily_log.calendar_date.in_time_zone == Time.current.to_date.in_time_zone %></td>
								</div>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= link_to "New Log", new_daily_log_path, class: 'btn pull-right', style:"background-color:#F29F05;color:white;" if @today_log.nil? %>
	  </div>
	</div>
</div>
