<%= render "partials/alert" %>
<div id="donutchart" ></div>
<table class="table">
	<thead>
		<tr>
			<th class="text-center" colspan="3">Total Calories Available: <%= current_user.tdee - @daily_log.total_calories %></th>
		</tr>
		<tr style="font-size:0.9em">
			<th class="text-center" colspan="3">Total Calories Today: <%= @daily_log.total_calories %></th>
		</tr>
		<tr style="font-size:0.9em">
			<th class="text-center" colspan="3">Protein: <%= @daily_log.total_protein %> g, Carbs: <%= @daily_log.total_carbs %> g, Fats: <%= @daily_log.total_fats%> g</th>
		</tr>
		<tr>
			<th class="text-center" colspan="3" style="background-color:#003259;"><%= link_to "Add Food", edit_daily_log_path(@daily_log.id), class: 'btn btn-primary btn-block', style: 'background-color: transparent;border:0;' if @daily_log.calendar_date.in_time_zone == Date.today.in_time_zone %></th>
		</tr>
	</thead>
	<tbody>
		<% @daily_log_foods.values.each do |daily_log_foods| %>
			<tr class="app-font">
				<td><%= daily_log_foods.count %> x <%= daily_log_foods.first.food.name %></td>
				<td class="text-center"><%= daily_log_foods.first.food.calories * daily_log_foods.count %> cal</td>
				<td><%= link_to "Edit", edit_daily_log_foods_path(daily_log_foods.first.food_id, daily_log_id: @daily_log.id) %></td>
				<!-- <td class="text-center"><%#= link_to "Remove", destroy_daily_log_food_path(daily_log_foods.first.id), method: :delete,  data: { confirm: 'Are you sure you want to remove this from your food log?' } %> -->
			</tr>
		<% end %>
	</tbody>
</table>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= raw @macros %>);

        var options = {
          pieHole: 0.4,
          legend: {position: 'bottom'}
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
</script>

