<%= form_for @gym, url: gym_index_path, method: :post do |f| %>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-12 form-group">
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control" %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-12 form-group">
				<%= f.label :address %>
				<%= f.text_field :address, class: "form-control" %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-sm-4 col-4 form-group">
				<%= f.label :city %>
				<%= f.text_field :city, class: "form-control" %>
			</div>
			<div class="col-md-4 col-sm-4 col-4 form-group">
				<%= f.label :state %>
				<%= f.text_field :state, class: "form-control" %>
			</div>
			<div class="col-md-4 col-sm-4 col-4 form-group">
				<%= f.label :zipcode %>
				<%= f.text_field :zipcode, class: "form-control" %>
			</div>
		</div>

		<div class="row">
			<div class="col-6 form-group">
				<%= f.label :phone_number, "Phone Number *" %>
				<%= f.text_field :phone_number, class: "form-control" %>
			</div>

			<div class="col-6 form-group">
				<%= f.label :time_zone %>
				<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {default: "Eastern Time (US & Canada)"}, {class: "form-control"} %>
			</div>
		</div>

		<div class="row">
		  <div class="col-12">
				<%= f.label :logo, "Upload Gym Logo: " %>
			</div>

			<div class="col-12">
				<%= f.file_field :logo %>
			</div>
		</div>

		<div class="text-right">
		  <%= f.submit class: "btn btn-lg workout-btn" %>
		</div>
	</div>
<% end %>