<!-- <div class="container" style="margin-top:20px;color:white;"> -->
	<div class="row" style="height:100%;">
		<div class="col-md-3" style="padding-top:20px;background:#003259;">
			<ul class="nav nav-pills" id="workoutTab" role="tablist" style="margin-bottom:30px;">
			  <li class='nav-item nav-li'><a class='nav-link active' id='profile-tab' data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aira-selected='true'>Gym Information</a></li>
			  <li class='nav-item nav-li'><a class='nav-link' id='workout-trending-tab' data-toggle='tab' href='#workout-trending' role='tab' aria-controls='workout-trending' aria-selected='true'>Gym Kiosks <span class="badge badge-pill badge-secondary"><%= @gym.kiosks.count %></span></a></li>
			  <li class='nav-item nav-li'><a class='nav-link' id='gym-users-tab' data-toggle='tab' href='#gym-users' role='tab' aria-controls='gym-users' aria-selected='true'>Gym Users <span class="badge badge-pill badge-secondary"><%= @gym_users.count %></span></a></li>
			  <li class='nav-item nav-li'><a class='nav-link' id='popup-workout-tab' data-toggle='tab' href='#popup-workout' role='tab' aria-controls='popup-workout' aria-selected='true'>Daily Popup Workouts</span></a></li>
			  <li class='nav-item nav-li'><a class='nav-link' id='categories-tab' data-toggle='tab' href='#categories' role='tab' aria-controls='categories' aria-selected='true'>Categories</span></a></li>
			  <li class='nav-item nav-li'><a class='nav-link' id='workouts-tab' data-toggle='tab' href='#workouts' role='tab' aria-controls='workouts' aria-selected='true'>Workouts</span></a></li>
			  <li class='nav-item nav-li'><a class='nav-link' id='workout-groups-tab' data-toggle='tab' href='#workout-groups' role='tab' aria-controls='workout-groups' aria-selected='true'>Workout Groups</span></a></li>
			</ul>
		</div>
		<div class="col-md-9" style="padding-top:20px;">
			<%= render "partials/alert" %>
			<div class="container-fluid">
				<div class="tab-content" id="workoutTabContent">
				  <div class="tab-pane fade show active" id='profile' role='tabpanel' aria-labelledby='profile'>
						<%= form_for @gym, url: gym_path, method: :put do |f| %>
						  <div class="row">
						    <div class="col-md-6 col-sm-12 form-group">
									<%= f.label :name %>
									<%= f.text_field :name, class: 'form-control' %>
								</div>
								<div class="col-md-6 col-sm-12">
									<%= f.label :phone_number %>
									<%= f.text_field :phone_number, class: 'form-control' %>
								</div>
							</div>

							<div class="row">
						    <div class="col-md-12 col-sm-12 form-group">
									<%= f.label :address %>
									<%= f.text_field :address, class: 'form-control' %>
								</div>
							</div>

							<div class="row">
						    <div class="col-md-4 col-sm-12 form-group">
						    	<%= f.label :city %>
									<%= f.text_field :city, class: 'form-control' %>
						    </div>
						    <div class="col-md-4 col-sm-12 form-group">
						    	<%= f.label :state %>
									<%= f.text_field :state, class: 'form-control' %>
						    </div>
						    <div class="col-md-4 col-sm-12 form-group">
						    	<%= f.label :zipcode %>
									<%= f.text_field :zipcode, class: 'form-control' %>
						    </div>
						  </div>

						  <div class="row">
						    <div class="col-md-5 col-sm-5 col-5 form-group">
						    	<%= f.label 'Users' %>
						    	<%= select_tag 'users', options_for_select(@non_admins), multiple: true, class: 'form-control' %>
						    </div>

						    <div class="col-md-2 col-sm-2 col-2" style="padding-top: 50px;padding-bottom: 50px;width: 100%;text-align: center;">
						    	<button class="btn btn-warning" id="add-admin">-></button>
						    	<button class="btn btn-danger" id="remove-admin"><-</button>

						    </div>

						    <div class="col-md-5 col-sm-5 col-5 form-group">
									<%= f.label :admin_ids %>
									<%= f.select :admin_ids, options_for_select(@admins), {}, multiple: true, class: 'form-control' %>
								</div>
							</div>

							<div class="row">
							  <div class="col-12">
									<%= f.label :logo, "Upload Gym Logo: " %>
								</div>

								<div class="col-12">
									<%= f.file_field :logo %>
								</div>
							</div>

							<%= f.submit "Update Gym Info", class: "btn btn-lg btn-block workout-btn", style: 'margin-bottom: 15px;', id: 'gym-update' %>
						<% end %>
					</div>
					<div class="tab-pane fade show" id='workout-trending' role='tabpanel' aria-labelledby='workout-trending'>
						<table class="table">
							<thead>
								<tr>
									<th>Kiosk Number</th>
									<th>Exercise</th>
								</tr>
							</thead>
							<tbody>
								<% @gym.kiosks.each do |kiosk| %>
									<tr>
										<td><%= kiosk.kiosk_number %></td>
										<td style="color: #101216"><i><%= Exercise.find(kiosk.exercise_id).common_exercise.name %></i></td>
									</tr>
								<% end %>
							</tbody>
						</table>

						<div class="container">
							<%= form_for :kiosk, url: create_kiosk_path do |f| %>
								<%= f.hidden_field :gym_id, value: @gym.id %>
								<div class="row">
									<%= f.text_field :kiosk_number, placeholder: "Enter Kiosk Number", class: 'form-control col-md-4 col-sm-4 col-6', style: 'margin-bottom:15px;' %>
									<%= f.select :exercise_id, @exercises, {}, class: 'form-control col-md-4 col-sm-4 col-5 offset-1', style: 'margin-bottom:15px;' %>
									<%= f.submit 'Save Kiosk', class: 'col-md-2 col-sm-2 col-12 form-control', style: 'background-color:#BFF075;margin-bottom:15px;' %>
								</div>
							<% end %>
						</div>
					</div>
					<div class="tab-pane fade show" id='gym-users' role='tabpanel' aria-labelledby='gym-users'>
						<%= link_to "New User", new_user_path, class: "pull-right workout-btn btn", style: 'margin-bottom: 10px;' %>
						<table class="table">
							<thead>
								<tr>
									<th/>
									<th>User Name</th>
									<th>Current Workout</th>
									<th/>
								</tr>
							</thead>
							<tbody>
								<% @gym_users.each do |user| %>
									<tr>
										<td><%= image_tag user.avatar.url, class: "rounded-image" %></td>
										<td><%= link_to "#{user.first_name} #{user.last_name}", edit_profile_path(user.id) %></td>
										<td><i><%= user.current_workout_name %></i></td>
										<td>
											<% if user.account_disabled %>
												<%= link_to "Enable Account", enable_user_path(user.id), method: :put %>
											<% else %>
												<%= link_to "Disable Account", disable_user_path(user.id), method: :put %>
											<% end %>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade show" id='popup-workout' role='tabpanel' aria-labelledby='popup-workout'>
						<table class="table">
							<thead>
								<tr>
									<th>Workout Name</th>
									<th>Workout Date</th>
								</tr>
							</thead>
							<tbody>
								<% @popup_workouts.each do |popup| %>
									<tr>
										<td><%= popup.workout_group.name %></td>
										<td><%= popup.workout_date.strftime("%m-%d-%Y") %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
						<%= button_to "Setup a Pop Up Workout", new_wod_path, method: :get, class: "btn btn-lg workout-btn" %>
					</div>
					<div class="tab-pane fade show" id='categories' role='tabpanel' aria-labelledby='categories'>
						<nav style="background:transparent;">
						  <div class="nav nav-tabs" id="nav-tab" role="tablist">
						    <a class="nav-item nav-link active" id="nav-current-categories-tab" data-toggle="tab" href="#nav-current-categories" role="tab" aria-controls="nav-current-categories" aria-selected="true">Configured Categories</a>
						    <a class="nav-item nav-link" id="nav-new-category-tab" data-toggle="tab" href="#nav-new-category" role="tab" aria-controls="nav-new-category" aria-selected="false">New Category</a>
						  </div>
						</nav>
						<div class="tab-content" id="category-tabContent">
						  <div class="tab-pane fade show active" id="nav-current-categories" role="tabpanel" aria-labelledby="nav-current-categories-tab">
						  	<table class="table">
								  <thead class="boomslang-green" style="color:white;">
								    <tr>
								      <th scope="col" class="category-header" style="vertical-align: middle;">Name</th>
								      <th scope="col" class="text-center category-header" style="vertical-align: middle;">Tag</th>
								      <th scope="col" class="text-center category-header" style="vertical-align: middle;">Actions</th>
								    </tr>
								  </thead>
								  <tbody>
										<% @categories.each do |category| %>
											<tr>
									      <th scope="row"><%= category.name %></th>
									      <td class="<%= Category.style_tags[category.tag]['background-color'] %>"></td>
									      <td class="text-center">
									      	<% if category.editable_by_user?(current_user) %>
									      		<%= link_to "Edit", edit_category_path(category.id) %> |  <% if category.disabled %> <%= link_to "Enable", enable_category_path(id: category.id), method: :put %> <% else %> <%= link_to "Disable", disable_category_path(id: category.id), method: :put %> <% end %>
									      	<% end %>		
									      </td>
									    </tr>
										<% end %> 
								  </tbody>
								</table>
						  </div>
						  <div class="tab-pane fade" id="nav-new-category" role="tabpanel" aria-labelledby="nav-new-category-tab">
						  	<div class="card" style="padding-top:20px;padding-bottom:20px;">
							    <div class="card-header boomslang-green text-center">
							      <div style="color:white;">Create New Category</div>
							    </div>
									<%= form_for @category, url: category_index_path, method: :post do |f| %>
								    <div class="card-body badge-dark" style="margin-bottom:0px">
										    <div class="row">
										      <div class="col-md-12 col-sm-12 form-group">
										        <%= f.label :name, class: 'col-md-12' %>
										        <%= f.text_field :name, class: 'col-md-12 form-control' %>
										      </div>
										    </div>

										    <div class="row">
										      <div class="col-md-5 col-sm-11 col-10 form-group">
										        <%= f.label :tag, class: 'col-md-12' %>
										        <%= f.select :tag, Category.style_tags.collect { |category| [category[0], category[0], class: "#{category[1]['background-color']} #{category[1]['text-color']}"] }, { placeholder: "--- Please select a tag for your category ---"}, { class: 'col-md-12 form-control' } %>
										      </div>
										      <div class="col-md-1 col-sm-1 col-1 <%= Category.style_tags[@category.tag]['background-color'] %>" id="category-color" style="height: 50px;margin-top: 25px;">
										      </div>
										      <div class="col-md-6 col-sm-12 form-group">
										        <%= f.label :goal_id, class: 'col-md-12' %>
										        <%= f.select :goal_id, User.goals.collect { |key, goal| [goal, key] }, { placeholder: "--- Please select a goal associated to this category ---"}, {class: 'col-md-12 form-control'} %>
										      </div>
										    </div>

										    
										</div>
									<%= f.submit "Create Category", class: 'btn btn-lg btn-block workout-btn card-footer' %>
									<% end %>

								</div>
						  </div>
						</div>
					</div>
					<div class="tab-pane fade show" id='workouts' role='tabpanel' aria-labelledby='workouts'>
						<%= link_to "New Workout", new_workout_path, class: "pull-right workout-btn btn", style: "margin-bottom:10px;" %>
						<table class="table">
							<thead>
								<tr>
									<th>Workout Name</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% @workouts.each do |workout| %>
									<tr>
										<td><%= workout.name %></td>
										<td><%= link_to "Edit", edit_workout_path(workout.id) %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
					<div class="tab-pane fade show" id='workout-groups' role='tabpanel' aria-labelledby='workout-groups'>
						<%= link_to "New Group Workout", new_workout_group_path, class: "pull-right workout-btn btn", style: "margin-bottom:10px;" %>
						<table class="table">
							<thead>
								<tr>
									<th>Workout Group Name</th>
									<th></th>
									<th />
								</tr>
							</thead>
							<tbody>
								<% @gym.workout_group_pairings.map(&:workout_group).uniq.each do |workout_group| %>
								<% p workout_group %>
									<tr>
										<td><%= workout_group.name %></td>
										<td><%= link_to "View", edit_workout_group_path(workout_group.id) %></td>
										<td><%= link_to "Delete", workout_group_path(workout_group.id, gym_id: @gym.id), method: :delete %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- </div> -->

<script>
	$('#gym-update').on('click', function(e) {
		e.preventDefault();
		$('#gym_admin_ids option').prop('selected', true);
		$('.edit_gym').submit();
	});

	$('#add-admin, #remove-admin').on('click', function(e){
		e.preventDefault();

		if ($(this).attr('id') === 'add-admin'){
			$('#gym_admin_ids').append($('#users option:selected'))
		} else {
			$('#users').append($('#gym_admin_ids option:selected'))
		}
	});

  $('#category_tag').on('change', function(){
    parser = new RegExp(/(\w+-\w+)/g);
    let new_class = parser.exec($(this).find(":selected").attr('class'))[0]
    $('#category-color').attr('class', "col-md-1 col-sm-1 col-1 " + new_class)
  });
</script>