<style>
	.exercise-header {
		color: white;
		font-size: 1.5em;
	}

	.exercise-sub-header {
		font-size: 0.75em;
		color: white;
	}

	.exercise-details {
		font-size: 1em;
		color: white;
	}
</style>
<%= form_for :exercises, url: log_exercise_path do |f| %>
		<%= f.hidden_field :workout_date, value: Date.today %>
		<%= f.hidden_field :manual_entry, value: @manual_entry %>
		<%= f.hidden_field :user_id, value: @user.id %>
		<% unless @manual_entry %>
			<div class="boomslang-green" style="padding-top:20px;padding-bottom:20px;color:#003259;text-align:center;margin-top:auto;margin-bottom:10px;height:100%;margin-left:-15px;">
				<h4>Exercises Completed <%= @step_string %></h4>
			</div>
		<% end %>
		<div  class="jumboton">
			<div class="container-fluid">
				<div class="row">
					<h4 class="col-10 offset-1"><b>Workout Name:</b></h4>
					<p class="lead col-10 offset-1">
						<%= @workout.name %>
					</p>
				</div>
				<div class="hard-return" style="border:1px solid white;margin-bottom:1em;"></div>
				<div class="row">
					<h4 class="col-10 offset-1"><b>Workout Details:</b></h4>
					<p class="lead col-10 offset-1">
						<%= @workout.details %>
					</p>
				</div>
			</div>
		</div>
		<% if @manual_entry %>
			<% @exercise_groups.each do |key, exercise_group| %>
					<% exercise_group.each_with_index do |exercise, idx| %>
						<% bg_color = Category.style_tags.to_a.sample[1] %>
								<div class="row boomslang-green">
									<div class="<%= exercise.clip.attached? ? 'col-md-6' : 'col-md-12' %>">
										<div class="col-md-6" style="<%= bg_color['style'] %>;padding-right:10px;border-radius: 5px;">
											<div class="row">
												<div class="col-md-12 text-center exercise-header">
													<%= exercise.common_exercise.name %>
													<div class="lead"><%= exercise.common_equipment.name %></div>
												</div>
											</div>

											<div class="row">
												<div class="col-md-12 text-center exercise-sub-header">
													<i><%= exercise.description %></i>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12 text-center exercise-sub-header">
													<%= exercise.example %>
												</div>
											</div>

											<div class="row">
												<div class="col-md-6 col-6 text-center" style="color:white;">
													Sets
												</div>
												<div class="col-md-6 col-6 text-center" style="color:white;">
												  Reps
												</div>
											</div>

											<div class="row">
												<div class="col-md-6 col-6 text-center exercise-details">
													<%= exercise.set_count %>
												</div>
												<div class="col-md-6 col-6 text-center exercise-details">
													<%= exercise.rep_range %>
												</div>
											</div>

											<% if exercise.warm_up %>
												<div class="row">
													<div class="col-md-6 col-6 text-center">
														Warm Up
													</div>
													<div class="col-md-6 col-6 text-center">
														Warm Up Details
													</div>
												</div>

												<div class="row">
													<div class="col-md-6 col-6 text-center exercise-details">
														<%= Exercise.to_word(exercise.warm_up) %>
													</div>
													<div class="col-md-6 col-6 text-center exercise-details">
														<%= exercise.warm_up_details %>
													</div>
												</div>
											<% end %>
										</div>

										<div class="col-md-6">
											<%= f.fields_for 'workout_detail[]', exercise.workout_details.new do |workout_detail| %>
												<%= workout_detail.hidden_field :exercise_id, value: "#{exercise.id}" %>
												<%= workout_detail.hidden_field :workout_id, value: "#{exercise.workout_id}" %>
												<%= workout_detail.hidden_field :workout_date, value: "#{DateTime.now.in_time_zone}", class: 'workout_detail_date' %>

												<div class="row" style="padding-right:10px;">
													<% @prev_exercise = @last_workout.where(exercise_id: exercise.id).last %>
													<% comment_placeholder = @prev_exercise&.comment.blank? ? "Enter exercise comment here..." : @prev_exercise&.comment %>
											  	<% band_color_placeholder = @prev_exercise&.band_color.blank? ? "Enter Band Color" : @prev_exercise&.band_color %>
											  	<% col_space = 6 %>
											    <% 1.upto(exercise.set_count) do |num| %>
											  		<%# if @user.current_workout == @workout.id %>
											  			<% if @prev_exercise.nil? %>
											  				<div class="col-md-<%= col_space %> col-sm-<%= col_space %> col-<%= col_space %> rep" style="padding-top:10px;"><%= workout_detail.text_field "rep_#{num}_weight", size: 3, class: "rep_input form-control custom-input", type: 'number' %></div>
											  			<% else %>
											  				<div class="col-md-<%= col_space %> col-sm-<%= col_space %> col-<%= col_space %> rep" style="padding-top:10px;"><%= workout_detail.text_field "rep_#{num}_weight", size: 3, class: "rep_input form-control custom-input", placeholder: @prev_exercise["rep_#{num}_weight"], type: 'number' %></div>
											  			<% end %>
											  		<%# end %>
											    <% end %>
												</div>

												<% if exercise.band %>
													<div class="row" style="margin-left:1px;padding-right: 25px;">
														<%= workout_detail.label "Band Color:" %>
														<%= workout_detail.text_field :band_color, class: "col-md-12 form-control custom-input", placeholder: "#{band_color_placeholder}" %>
													</div>
												<% end %>

												<div class="row" style="margin-left:1px;padding-right: 25px;">
													<%= workout_detail.text_area :comment, class: "col-md-12 form-control custom-input", placeholder: "#{comment_placeholder}" %>
												</div>
											<% end %>
										</div>
									</div>
									<% if exercise.clip.attached? %>
										<div class="col-md-6" style="background-color:black;">
						    				<%= video_tag url_for(exercise.clip), controls: '', style: 'height:400px;width:100%' %>
										</div>
									<% end %>
								</div>
					<% end %>
			<% end %>
			<div class="row">
					<%= f.submit @button_title, class: "btn btn-lg btn-block workout-btn", style: "height:100px;margin-top: -10px;" %>
			</div>
		<% else %>
			<% @exercise_group.each_with_index do |exercise, idx| %>
				<% bg_color = Category.style_tags.to_a.sample[1] %>
				<div class="row">
					<div class="<%= exercise.clip.attached? ? 'col-md-6' : 'col-md-12'%> col-12">
						<div class="row" style="background-color:#003259;padding-bottom:5px;margin-bottom:0px;">
							<div class="container <%= exercise.clip.attached? ? 'col-md-6' : 'col-md-12' %>">
								<div style="<%= bg_color['style'] %>;padding-right:10px;border-radius: 5px;">
									<div class="row">
										<div class="col-md-12 text-center exercise-header">
											<%= exercise.common_exercise.name %>
											<div class="lead"><%= exercise.common_equipment.name %></div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 text-center exercise-sub-header">
											<i><%= exercise.description %></i>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 text-center exercise-sub-header">
											<%= exercise.example %>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6 col-6 text-center" style="color:white;">
											Sets
										</div>
										<div class="col-md-6 col-6 text-center" style="color:white;">
										  Reps
										</div>
									</div>

									<div class="row">
										<div class="col-md-6 col-6 text-center exercise-details">
											<%= exercise.set_count %>
										</div>
										<div class="col-md-6 col-6 text-center exercise-details">
											<%= exercise.rep_range %>
										</div>
									</div>

									<% if exercise.warm_up %>
										<div class="row">
											<div class="col-md-6 col-6 text-center">
												Warm Up
											</div>
											<div class="col-md-6 col-6 text-center">
												Warm Up Details
											</div>
										</div>

										<div class="row">
											<div class="col-md-6 col-6 text-center exercise-details">
												<%= Exercise.to_word(exercise.warm_up) %>
											</div>
											<div class="col-md-6 col-6 text-center exercise-details">
												<%= exercise.warm_up_details %>
											</div>
										</div>
									<% end %>
								</div>
							</div>

							<div class="container">
								<%= f.fields_for 'workout_detail[]', exercise.workout_details.new do |workout_detail| %>
									<%= workout_detail.hidden_field :exercise_id, value: "#{exercise.id}" %>
									<%= workout_detail.hidden_field :workout_id, value: "#{exercise.workout_id}" %>
									<%= workout_detail.hidden_field :workout_date, value: "#{DateTime.now.in_time_zone}", class: "workout_detail_date" %>

									<div class="row" style="padding-right:10px;">
										<% @prev_exercise = @last_workout.where(exercise_id: exercise.id).last %>
										<% comment_placeholder = @prev_exercise&.comment.blank? ? "Enter exercise comment here..." : @prev_exercise&.comment %>
								  	<% band_color_placeholder = @prev_exercise&.band_color.blank? ? "Enter Band Color" : @prev_exercise&.band_color %>
								  	<% col_space = 6 %>
								    <% 1.upto(exercise.set_count) do |num| %>
								  		<%# if @user.current_workout == @workout.id %>
								  			<% if @prev_exercise.nil? %>
								  				<div class="col-md-<%= col_space %> col-sm-<%= col_space %> col-<%= col_space %> rep" style="padding-top:10px;"><%= workout_detail.text_field "rep_#{num}_weight", size: 3, class: "rep_input form-control custom-input", type: 'number' %></div>
								  			<% else %>
								  				<div class="col-md-<%= col_space %> col-sm-<%= col_space %> col-<%= col_space %> rep" style="padding-top:10px;"><%= workout_detail.text_field "rep_#{num}_weight", size: 3, class: "rep_input form-control custom-input", placeholder: @prev_exercise["rep_#{num}_weight"], type: 'number' %></div>
								  			<% end %>
								  		<%# end %>
								    <% end %>
									</div>

									<% if exercise.band %>
										<div class="row" style="margin-left:1px;padding-right: 25px;">
											<%= workout_detail.label "Band Color:" %>
											<%= workout_detail.text_field :band_color, class: "col-md-12 form-control custom-input", placeholder: "#{band_color_placeholder}" %>
										</div>
									<% end %>

									<div class="row" style="margin-left:1px;padding-right: 25px;">
										<%= workout_detail.text_area :comment, class: "col-md-12 form-control custom-input", placeholder: "#{comment_placeholder}" %>
									</div>
								<% end %>
							</div>
						</div>
					</div>
					<% if exercise.clip.attached? %>
						<div class="col-md-6 col-12" style="background-color: #003259;">
							<div class="col-md-6" style="background-color:black;margin-left: auto;margin-right: auto;">
    						<%= video_tag url_for(exercise.clip), controls: '', style: 'height:310px;width:100%' %>
    					</div>
						</div>
  				<% end %>
  			</div>
			<% end %>
			<div class="row boomslang-green" style="padding-top: 15px;padding-bottom: 15px;margin-top: -10px;">
				<% unless @manual_entry %>
						<%= link_to "Exit Workout", profile_index_path(manual_exit: true), data: { confirm: 'Please make sure you complete the last exercise so your data will not be lost.' }, class: "btn btn-lg btn-block col-md-5 offset-md-1", style: "margin-top:auto;;height:75px;padding-top:20px;background-color:transparent;color:#003259;" %> 
				<% end %>
				<%= f.submit @button_title, class: "btn btn-lg btn-block col-md-4 offset-md-1", style: "background-color:transparent;height:75px;color:#003259;" %>
			</div>
		<% end %>
	<% end %>
