<div class="container">
	<%= f.fields_for 'workout_detail[]', exercise.workout_details.new do |workout_detail| %>
		<%= workout_detail.hidden_field :exercise_id, value: "#{exercise.id}" %>
		<%= workout_detail.hidden_field :edit, value: @edit_mode %>
		<%= workout_detail.hidden_field :workout_detail_id, value: "#{ previous_exercise.blank? ? nil : previous_exercise[:id]}" %>

		<div class="row" style="padding-right:10px;">
	  	<% col_space = 6 %>
	    <% 1.upto(exercise.set_count) do |num| %>
				<% prev_value = previous_exercise.blank? ? nil : previous_exercise["rep_#{num}_weight"] %>
  			<% if previous_exercise.nil? || @edit_mode == "false" %>
  				<div class="col-md-<%= col_space %> col-sm-<%= col_space %> col-<%= col_space %> rep" style="padding-top:10px;"><%= workout_detail.text_field "rep_#{num}_weight", size: 3, class: "rep_input form-control custom-input", type: 'number', placeholder: prev_value %></div>
  			<% else %>
  				<div class="col-md-<%= col_space %> col-sm-<%= col_space %> col-<%= col_space %> rep" style="padding-top:10px;"><%= workout_detail.text_field "rep_#{num}_weight", size: 3, class: "rep_input form-control custom-input", type: 'number', value: prev_value %></div>
  			<% end %>
	    <% end %>
		</div>

		<% if exercise.band %>
			<div class="row" style="margin-left:1px;padding-right: 25px;color:white;">
				<%= workout_detail.label "Band Color:" %>
	  			<% prev_band = previous_exercise.blank? ? nil : previous_exercise&.band_color %>
	  		<% if previous_exercise.nil? || @edit_mode == "false" %>
					<%= workout_detail.text_field :band_color, class: "col-md-12 form-control custom-input", placeholder: prev_band || "Enter Band Color" %>
				<% else %>
					<%= workout_detail.text_field :band_color, class: "col-md-12 form-control custom-input", placeholder: "Enter Band Color", value: "#{prev_band}" %>
				<% end %>
			</div>
		<% end %>

		<div class="row" style="margin-left:1px;padding-right: 25px;">
	  		<% prev_comment = previous_exercise.blank? ? nil : previous_exercise&.comment %>
			<% if previous_exercise.nil? || @edit_mode == "false" %>
				<%= workout_detail.text_area :comment, class: "col-md-12 form-control custom-input", placeholder: prev_comment || "Enter exercise comment here..."  %>
			<% else %>
				<%= workout_detail.text_area :comment, class: "col-md-12 form-control custom-input", placeholder: "Enter exercise comment here...", value: "#{prev_comment}"  %>
			<% end %>
		</div>
	<% end %>
</div>