<%= form_for(:user, url: new_user_session_path) do |f| %>
  <div class="card border-success">

    <div class="card-header text-success border-success boomslang-green" style="min-height: 4em;">
      <% if params[:action] == 'new' %>
        <%= image_tag @gym&.logo.nil? ? "logo" : @gym.logo.url, class: "rounded-image" %>
      <% end %>
    </div>
    <div class="card-body text-success bg-white" style="margin-bottom:0;">
      <%= render "partials/alert" %>
      <div class="col-md-12 col-sm-12 form-group">
        <%= f.label :email %>
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="col-md-12 col-sm-12 form-group">
        <%= f.label :password, class: '' %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
      
    </div>
    <div class="card-footer boomslang-green">
      <div class="text-right">
        <%= f.submit "Log In", class: "btn btn-standard" %>
        <br/>
        <% if params[:action] == 'new' %>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>