<%= form_for @workout_group, url: workout_group_path(@workout_group.id), method: :patch do |f| %>
   <div class="row">
    <div class="col-md-12 col-sm-12 form-group">
      <%= f.hidden_field :workout_id, value: @workout_group.workout.id, class: 'col-md-12 form-control' %>
    </div>
   </div>

   <div class="row">
    <div class="col-md-12 col-sm-12 form-group">
      <%= f.label :name, class: 'col-md-12' %>
      <%= f.text_field :name, class: 'col-md-12 form-control' %>
    </div>
   </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
  	 <%= f.submit "Update Workout Group", class: 'btn btn-info pull-right' %>
     <%= link_to "Delete Workout Group", workout_group_path(@workout_group.id), method: :delete %>
    </div>
  </div>
<% end %>