<div class="container">
  <%= form_for @workout_group, url: workout_group_path(@workout_group.id), method: :patch do |f| %>
     <div class="row">
      <div class="col-md-12 col-sm-12 form-group">
        <%= f.hidden_field :workout_id, value: @workout_group.workout.id, class: 'col-md-12 form-control' %>
      </div>
     </div>

     <div class="row">
      <div class="col-md-12 col-sm-12 form-group">
        <%= f.label :name, class: 'col-md-12' %>
        <%= f.text_field :name, class: 'col-md-12 form-control' %>
      </div>
     </div>

    <div class="row">
      <% WorkoutGroup.day_of_the_weeks.each do |day_of_the_week_num, day_of_the_week_string| %>
        <div class="col-md-4 col-sm-4 col-12">
          <%= check_box_tag 'days_of_the_week[]', day_of_the_week_num, !WorkoutGroupSpecifiedDay.present_for_workout_group(@workout_group.id, day_of_the_week_num).empty?, disabled: true %> <%= label_tag day_of_the_week_string %>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
    	 <%= f.submit "Update Workout Group", class: 'btn btn-lg btn-block workout-btn' %>
       <%#= link_to "Delete Workout Group", workout_group_path(@workout_group.id), method: :delete %>
      </div>
    </div>
  <% end %>
</div>

<table class="table" style="margin-top:20px;">
  <thead>
    <tr>
      <th>User name</th>
    </tr>
  </thead>
  <tbody>
    <% @workout_users.each do |user| %>
      <tr>
        <td><%= user.first_name %> <%= user.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>