<div class="container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <div class="card border-success" style="border:1px solid;">
      <div class="card-header border-success boomslang-green">
        <h4 class="text-center app-font">Change your password</h4>
      </div>
      <div class="card-body bg-white" style="margin-bottom:0;">
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

         <div class="field">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>
      </div>
      <div class="card-footer boomslang-green">
        <div class="text-right">
          <%= f.submit "Change my password", class: "btn btn-standard"  %>
          <br/>     
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  <% end %>
</div>