<style>
	.exercise-header {
		font-size: 2em;
	}

	.exercise-sub-header {
		font-size: 0.75em;
	}

	.exercise-details {
		font-size: 1em;
		color: #D6E5C5;
	}
</style>

<% if @exercise_group.blank? %>
	<div class="jumbotron" style="background: #101216">
		<h1 class="display-4">There are no Workouts for you!</h1>
		<p class="lead">Awesome job today. You have completed all the exercises for todays workout. Rest and let your body do what it was made to do....evolve!</p>
		<p><%= link_to "Sign Into Profile", profile_index_path %>
<% else %>
	<%= form_for :exercises, url: log_exercise_path do |f| %>
		<% @exercise_group.each_with_index do |exercise, idx| %>
			<% bg_color = Category.style_tags.to_a.sample[1] %>

			<div class="row">
				<div class="col-6" style="<%= bg_color['style'] %>;padding-right:10px;border-radius: 5px;" id="image-background">
					<div class="row">
						<div class="col-md-12 text-center exercise-header">
							<%= exercise.name %>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 text-center exercise-sub-header">
							<i><%= exercise.description %></i>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center exercise-sub-header">
							<%= exercise.example %>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-6 text-center">
							Sets
						</div>
						<div class="col-md-6 col-6 text-center">
						  Reps
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-6 text-center exercise-details">
							<%= exercise.set_count %>
						</div>
						<div class="col-md-6 col-6 text-center exercise-details">
							<%= exercise.rep_range %>
						</div>
					</div>

					<% if exercise.warm_up %>
						<div class="row">
							<div class="col-md-6 col-6 text-center">
								Warm Up
							</div>
							<div class="col-md-6 col-6 text-center">
								Warm Up Details
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 col-6 text-center exercise-details">
								<%= Exercise.to_word(exercise.warm_up) %>
							</div>
							<div class="col-md-6 col-6 text-center exercise-details">
								<%= exercise.warm_up_details %>
							</div>
						</div>
					<% end %>
				</div>

				<div class="col-6">
					<%= f.fields_for 'workout_detail[]', exercise.workout_details.new do |workout_detail| %>
						<%= workout_detail.hidden_field :exercise_id, value: "#{exercise.id}" %>
						<%= workout_detail.hidden_field :workout_group_id, value: "#{exercise.workout_group_id}" %>
						<%= workout_detail.hidden_field :workout_date, value: "#{DateTime.now.in_time_zone}" %>

						<div class="row" style="padding-right:10px;">
							<% @prev_exercise = @last_workout.where(exercise_id: exercise.id).last %>
					  	<% col_space = 6 %>
					    <% 1.upto(exercise.set_count) do |num| %>
					  		<%# if @user.current_workout == @workout.id %>
					  			<% if @prev_exercise.nil? %>
					  				<div class="col-md-<%= col_space %> col-sm-<%= col_space %> col-<%= col_space %> rep" style="padding-top:10px;"><%= workout_detail.text_field "rep_#{num}_weight", size: 3, class: "rep_input form-control custom-input", type: 'number' %></div>
					  			<% else %>
					  				<div class="col-md-<%= col_space %> col-sm-<%= col_space %> col-<%= col_space %> rep" style="padding-top:10px;"><%= workout_detail.text_field "rep_#{num}_weight", size: 3, class: "rep_input form-control custom-input", placeholder: @prev_exercise["rep_#{num}_weight"], type: 'number' %></div>
					  			<% end %>
					  		<%# end %>
					    <% end %>
						</div>

						<div class="row" style="margin-left:1px;padding-right: 25px;">
							<%= workout_detail.text_area :comment, class: "col-md-12 form-control custom-input", placeholder: "Enter exercise comment here...\n#{@prev_exercise&.comment}" %>
						</div>
					<% end %>
				</div>
			</div>
			<% unless idx == @exercise_group.count - 1 %>
				<div style="border-bottom:1px solid;border-color:#D6E5C5;margin-bottom:15px;"></div>
			<% end %>
		<% end %>
		<div class="container">
			<%= f.submit "Next Exercise (#{@step_string})", class: "btn btn-lg btn-block", style: "background-color:#D9D278;" %>
		</div>
		<div class="col-12 text-center"><%= link_to "Exit Workout", profile_index_path(manual_exit: true), data: { confirm: 'Are you sure you are complete? This will complete your workout for the day.' } %></div>
	<% end %>
<% end %>
