<% if @caloric_expenditure > 0 %>
  <%= render 'call_to_action' %>
  
	<div class="jumbotron col-md-10 offset-md-1" style="margin-top:2em;">
		<div class='text-center'>
		  <h1 class="display-4">Results</h1>
		  <p class="lead">Daily Caloric Expenditure: <%= @caloric_expenditure %></p>
		  <p style="color:<%= @bmi_status %>">Current BMI: <%= @bmi %></p>
		</div>
	  <hr class="my-4">
	  <p class="lead">Calories for weight loss: <%= @weight_loss %></p>
	  <p class="lead">Calories for gaining weight: <%= @lean_muscle_gain_low %> - <%= @lean_muscle_gain_high %><p>
	  <hr class="my-4">
	  <h1 class="display-4 text-center">Macros:</h1>
	  <p><span class="lead"><b>Ectomorph:</b></span> <span class="text-muted">Ectomorphs are naturally thin with skinny limbs. Ectomorphs have a high tolerance for carbohydrates, and a fast metabolic rate. A good starting ratio is 25% protein, 55% carbs and 20% fat.</span></p>

		<p><span class="lead"><b>Mesomorph:</b></span> <span class="text-muted">Mesomorphs are naturally muscular and athletic. Mesomorphs have a moderate carb tolerance and metabolic rate. A good starting ratio is 30% protein, 40% carb, 30% fat ratio.</span></p>

		<p><span class="lead"><b>Endomorph:</b></span> <span class="text-muted">Endomorphs are naturally broad and thick. Endomorphs have a low carbohydrate tolerance and a slow metabolic rate. A good starting ratio is 35% protein, 25% carbs and 40% fat.</span></p>
	</div>
<% end %>

<%= form_for :assessment, url: assessment_path, method: :get do |f| %>
	<div class="row" style="margin-top:2em;">
    <div class="col-md-3 col-sm-3 offset-md-1 form-group">
      <%= f.label :height, "Height (inches)", class: 'col-md-12' %>
      <%= f.text_field :height, value: params.dig(:assessment, :height), class: 'col-md-12 form-control' %>
    </div>
    <div class="col-md-3 col-sm-3 form-group">
      <%= f.label :weight, "Weight (pounds)", class: 'col-md-12' %>
      <%= f.text_field :weight, value: params.dig(:assessment, :weight), class: 'col-md-12 form-control' %>
    </div>
   	<div class="col-md-2 col-sm-2 form-group">
      <%= f.label :age, class: 'col-md-12' %>
      <%= f.select :age, (1..99).collect { |value| [value, value] }, { include_blank: '-- Select Age --', selected: params.dig(:assessment, :age) }, class: 'col-md-12 form-control' %>
    </div>
    <div class="col-md-2 col-sm-2 form-group">
      <%= f.label :gender, class: 'col-md-12' %>
      <%= f.select :gender, @gender.collect { |value| [value, value] }, { include_blank: '-- Select Gender --', selected: params.dig(:assessment, :gender) }, class: 'col-md-12 form-control' %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-10 col-sm-10 offset-md-1">
      <%= f.label :activity_level, class: 'col-md-12' %>
      <%= f.select :activity_level, @activity_level.enum_for(:each_with_index).collect { |regularity, idx| ["#{regularity[0].to_s.capitalize.gsub("_", " ")} (#{@frequency[idx]})", regularity[1]] }, { include_blank: "-- Activity Level --", selected: params.dig(:assessment, :activity_level) }, class: 'col-md-12 form-control' %>      
    </div>
  </div>
  <div class="row">
      <%= f.submit "Submit", class: "btn btn-lg btn-block col-md-10 offset-md-1", style: "background:#82B937;" %>
  </div>
<% end %>
