<div id="train" class="nav-sections row">
	<%= image_tag 'train_header', class: 'col-md-6 col-12 nav-section-img', style: "margin-top:25px;" %>
  <div class="col-md-6 col-12 container nav-section-text">
			<h3 class="card-title text-center">Train</h3>
	    <p class="card-text">
	    	We believe, that through proven training regiments by industry leading trainers, we can help you live your best life.
	    </p>
	    <p class="card-text">
		  	Our software helps come beside trainer and trainee a like to give you access to result driven exercise workouts that have proven results by the people who created them. Through crowdsourcing the workouts with the best results and cutting edge tracking technology, we give you the tools to always persue greatness.
		  </p>
	</div>
</div>

<div id="teach" class="nav-sections row">
	<%= image_tag 'teach_header', class: 'col-md-6 col-12 nav-section-img' %>
	<div class="col-md-6 col-12 container nav-section-text">
		<h3 class="card-title text-center">Teach</h3>
    <p class="card-text">
    	Knowledge is <i>POWER</i>. We believe that giving access and personal connection with trainers, that you can learn the science behind why your body does what it does
    </p>
    <p class="card-text">
			Our focus is to give you the tools and knowledge for a healthy lifestyle, a commitment to a fit physique, and a desire to share sciense based information to help you make the best decisions to your best life. With a built in community, no question goes unanswered, no goal unattainable, and every opportunity for positive motiviation every step of the way to help you meet your next fitness goal.
		</p>
	</div>
</div>

<div id="evolve" class="nav-sections row">
	<%= image_tag 'evolve_header', class: 'col-md-6 col-12 nav-section-img' %>
	<div class="col-md-6 col-12 container nav-section-text">
		<h3 class="card-title text-center">Evolve</h3>
    <p class="card-text">
    	Live your best life. The goal of any health/fitness coach is to make you better than you were, and to come beside you to meet your goals. We believe that through the first two statements, this will be achieved through hard work and determination. To evolve, is to be better, always growing in mind and body. We want to help you meet your goals, keep you motivated, and always looking to better your life through fitness and helthy living.
		</p>
    <p class="card-text">
	  	Through peer-driven workouts created by industry leading exercise enthusiasts, personal trainers, and health professionals we help evolve your mind, body, and mindset to make you feel better in every day life!
	 	</p>
	</div>
</div>

<div class="jumbotron" id="contact">
	<p class="text-center" style="color:black;">Contact Information</p>
	<div class="text-center">
		<%= link_to "mailto:boomslangfitness@gmail.com?Subject=Tell%20Me%20More" do %>
		  <%= image_tag "mail_icon", size: 50 %>
		<% end %>
		<%= link_to "https://www.facebook.com/Boomslang-Fitness-2179301822345465/" do %>
			<%= image_tag "facebook_icon", size: 50 %>
		<% end %>
		<%= link_to "https://www.instagram.com/boomslangfitness/" do %>
			<%= image_tag "instagram_icon", size: 50 %>
		<% end %>
	</div>
</div>
