<div class="container">
	<div class="card" id ="train">
	  <div class="card-body" style="margin-bottom:0px;">
	  	<div class="row">
				<%= image_tag 'train_header', height:'260', class: "col-md-5 col-12" %>
				<div class="col-md-7 col-12">
			    <h3 class="card-title text-center">Train</h3>
			    <p class="card-text">By using science based training techniques, we are able to train those motivated to change their lives for the better. Using crowdsourced results that work for people, get you the best results you are lookign for.</p>
			    <p class="card-text">
				  	Our software helps come beside you as a coach and tries to help guide you in result driven exercise workouts that have proven results by the people to created them. Our goal is to guide and help you with your fitness goal and give you the best fiteness programs with results.
				  </p>
			    <%= link_to "Let's Train!", profile_index_path, class: "btn btn-primary" %>
		  	</div>
		  </div>
		</div>
	</div>

	<div class="card" id="teach">
	  <div class="card-body" style="margin-bottom:0px;padding-bottom:45px;">
	  	<div class="row">
				<%= image_tag 'teach_header', height:'260', class: "col-md-5 col-12" %>
				<div class="col-md-7 col-12">
			    <h3 class="card-title text-center">Teach</h3>
			    <p class="card-text">Knowledge is power. We want to work with you to keep you informed of how to get the results you are looking for. We give you the tools to help you know what is going to work for your needs.</p>
			    <p class="card-text">
						Our focus is to give you the tools and knowledge for a healthy lifestyle, a commitment to a fit physique, and a desire to share sciense based information to help you make the best decisions to your best life. With a built in community, no question goes unanswered, no goal unattainable, and every opportunity for positive motiviation every step of the way to help you meet your next fitness goal.
					</p>
			    <%= link_to "Let's Teach!", profile_index_path, class: "btn btn-primary" %>
			  </div>
			</div>
	  </div>
	</div>

	<div class="card" id="evolve">
		<div class="card-body" style="margin-bottom:0px;">
			<div class="row">
				<%= image_tag 'evolve_header', height:'260', class: "col-md-5 col-12" %>
				<div class="col-md-7 col-12">
			    <h3 class="card-title text-center">Evolve</h3>
			    <p class="card-text">Results driven, science based. To evolve, is to be better, always growing in mind and body. We want to help you meet your goals, keep you motivated, and always looking to better your life through fitness and helthy living.</p>
			    <p class="card-text">
				  	Through peer-driven workouts created by other exercise enthusiasts, personal trainers, and health professionals we help evolve your mind, body, and mindset to make you feel better in every day life!
				 	</p>
			    <%= link_to "Let's evolve!", profile_index_path, class: "btn btn-primary" %>
			  </div>
		  </div>
		</div>
	</div>

	<div class="jumbotron" id="contact" style="margin-top:5px;">
		<p class="text-center" style="color:black;">Contact Information</p>
		<div class="text-center">
			<%= link_to "mailto:jasonlmilam@gmail.com?Subject=Tell%20Me%20More" do %>
			  <%= image_tag "mail_icon", size: 50 %>
			<% end %>
			<%= link_to "https://www.facebook.com/Boomslang-Fitness-2179301822345465/" do %>
				<%= image_tag "facebook_icon", size: 50 %>
			<% end %>
			<%= link_to "https://www.instagram.com/boomslangfitness/" do %>
				<%= image_tag "instagram_icon", size: 50 %>
			<% end %>
		</div>
	</div>
</div>
