<section class="features-icons text-center boomslang-green" style="padding-top:2em;padding-bottom:2em;margin-bottom: 1em;border-top: 2px solid white;">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
	          <a href="#fitness" class="home-page-icon"><%= fa_icon "bicycle 2x", class: "" %></a>
          </div>
          <h3>Fitness</h3>
          <p class="lead mb-0 d-md-none">Train.Teach.Evolve</p>
          <p class="lead mb-0 d-none d-md-block">Proven fitness programs that get results! Personalized for you based off your fitness level and desired life goals.</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <a href="#nutrition" class="home-page-icon"><%= fa_icon "heartbeat 2x", class: "home-page-icon" %></a>
          </div>
          <h3>Nutrition</h3>
          <p class="lead mb-0 d-md-none">Weight loss is 80% diet</p>
          <p class="lead mb-0 d-none d-md-block">We work with you to build custom health plans to help meet your optimum nutrtion goals.</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <a href="#support" class="home-page-icon"><%= fa_icon "user 2x", class: "home-page-icon" %></a>
          </div>
          <h3>Support</h3>
          <p class="lead mb-0 d-md-none">Through encouragement</p>
          <p class="lead mb-0 d-none d-md-block">We focus on support, encouragement, and constent adjustments to support you in any way you need, to reach your goals.</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <a href="#analytics" class="home-page-icon"><%= fa_icon "signal 2x" %></a>
          </div>
          <h3>Progress Tracking</h3>
          <p class="lead mb-0 d-md-none">Know where you are going</p>
          <p class="lead mb-0 d-none d-md-block">See your results in real time, based off of your personalized program. See your progress through graphs and other visualized data.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters" id="fitness">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(<%= asset_path 'fitness' %>);"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="padding-top:0;">
      	<h1>Fitness</h1>
        <h5 class="lead"><i>Train. Teach. Evolve.</i></h5>
        <p class="lead mb-0">
          By giving access and personal connection with trainers, you learn the science behind why your body does what it does. Our focus is to give you the tools and knowledge for a healthy lifestyle, a commitment to a fit physique, and a desire to share results based information to help you make the best decisions to your best life. Wether you are looking for bodybuilding or weight loss, we customize a fitness program to meet your goals.
        </p>
      </div>
    </div>
    <div class="row no-gutters" id="nutrition">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url(<%= asset_path 'nutrition' %>);"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h1>Nutrition</h1>
        <h5 class="lead"><i>Weight loss is 80% diet, 20% exercise</i></h5>
        <p class="lead mb-0">
		    	As important as regular exercise is, a sound nutrition plan is where you get your results. We come beside you and help come up with a nutrition plan that is perfect for your goals and fits into your lifestyle. Fad diets are unsustainable. Balance nutrtients and a sound understanding of how your body processes food for energy will propel you to the best you possible.
				</p>
      </div>
    </div>
    <div class="row no-gutters" id="support">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(<%= asset_path 'teach_header' %>);"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h1>Support</h1>
        <p class="lead mb-0">
		    	The goal of any health/fitness coach is to make you better than you were, and to come beside you to meet your goals. To evolve, is to be better, always growing in mind and body. We want to help you meet your goals, keep you motivated, and always looking to better your life through fitness and helthy living. We give you the support needed to succeed through constant communication and adjustments to your fitness plan.
			 	</p>
      </div>
    </div>
    <div class="row no-gutters" id="analytics">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url(<%= asset_path 'boomslang-graph' %>);border-top-left-radius: 25px;border-bottom-left-radius: 25px;"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h1>Progress Tracking</h1>
        <p class="lead mb-0">
          Every workout tracked gives you the ability to see where you might be over training, needing to push for your next milestone, or keep doing what you're doing. Visual progress tracking gives you the ability to see your progress at the tip of your finger tips, anywhere, anytime.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<!--   <section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<%#= render 'call_to_action' %>
<%= render 'header' %>

<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <%= link_to "Blog", blog_path, class: 'nav-link' %>
          </li>
          <li class="list-inline-item">
            <%= link_to "Contact Us", "mailto:boomslangfitness@gmail.com?Subject=Tell%20Me%20More" %>
          </li>
          <li class="list-inline-item">
            <%= link_to "Free Online Assessment", assessment_path, class: 'nav-link' %>
          </li>
          <li class="list-inline-item">
            <%= link_to "Target HR Calculator", target_heart_rate_calculator_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
          	<%= link_to "https://www.facebook.com/Boomslang-Fitness-2179301822345465/" do %>
              <%= fa_icon "facebook 2x" %>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to "https://www.instagram.com/boomslangfitness/" do %>
              <%= fa_icon "instagram 2x" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
