<div class="browser-center">
	<%= render "partials/alert" %>
	<%= form_for @time_card, url: time_card_index_path, method: :post do |f| %>
		<div class="container">
			<div class="card border-success">
			  <div class="card-header text-success bg-white border-success">
          <%= image_tag @gym.logo.nil? ? "logo" : @gym.logo.url, class: "rounded-image" %>
			  	<h4>Log Time</h4>
			    <div class="text-muted">Select the employee and that employees task they are performating.</div>
			  </div>
			  <div class="card-body text-success bg-white" style="margin-bottom:0;">
			    <div class="container">
				    <div class="row">
				    	<div class="col-md-12 col-sm-12 form-group">
				        <%= f.select :user_id, @employees.collect { |user| ["#{user.first_name} #{user.last_name}", user.id] }, { prompt: "--- Select employee name ---"}, { class: 'col-md-12 form-control' } %>
				      </div>
				    </div>
				    <div class="row">
				      <div class="col-md-12 col-sm-12 form-group">
				        <%= f.select :task_id, @gym.tasks.order(name: :asc).collect { |task| [task.name, task.id] }, { prompt: "--- Please select a task ---"}, { class: 'col-md-12 form-control' } %>
				      </div>
				    </div>
				    <div class="row">
				      <div class="col-md-12 col-sm-12 form-group" id="client" style='display:none;'>
				        <%= f.select :client_id, @clients.collect { |client| ["#{client.first_name} #{client.last_name}", client.id] }, { prompt: "--- Please select your client ---"}, { class: 'col-md-12 form-control hide' } %>
				      </div>
				    </div>
				    <div class="row">
				      <div class="col-md-12 col-sm-12 form-group">
				        <%= select_tag :sign_in_out, options_for_select(["Clock In", "Clock Out"].collect { |step| [step, step] }), {class: 'col-md-12 form-control'} %>
				        <p class="text-muted">
				        	If a task is pre-set with a duration then that time will <br/> be logged as complete and you will not need to sign out.
				        </p>
				      </div>
				    </div>
				  </div>
			  </div>
			  <div class="card-footer bg-white border-success">
					<%= f.submit "Clock In/Out", class: 'btn btn-lg btn-block workout-btn card-footer' %>
			  </div>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	$('#time_card_task_id').on('change', function(){
		$.ajax({
		  dataType: 'script',
		  type: 'GET',
		  url: "/task/check_if_select_client",
		  data: { id: $(this).val() },
		  success: function(data) {
		  	var obj = $.parseJSON(data);
		  	if (obj.select_client) {
		  		$('#client').css('display','block');
		  	} else {
		  		$('#client').css('display','none');
		  		$('#time_card_client_id').val('');
		  	}
			}
		});
	});
</script>
