<div class="d-none d-md-block">
	<div class="row">
		<div class="col-md-7 boomslang-green" style="margin-top: -16px;margin-bottom:6px;
	    color: white;
	    font-size: larger;padding-top: 40px;">
			<p>
				Boomslang Fitness nutrition app is an easy, user friendly nutrition tracker focused on following and guiding you through our partners over at project 49, nutrition program.
			</p>
			<p style="margin-top:30px;">
				By utilizing this app through the Project 49, 45 day fitness program, you will be able to stay on track with your nutrition goals and get the best out of the program.
			</p>
			<p style="margin-top:30px;">
				Check out our quick, step by step tutorial, on how to get started tracking your nutrition today.
			</p>
		</div>
		<div class="col-md-5">
			<iframe style="margin-top: -1em;margin-left: -1em;" width="612" height="320" src="https://www.youtube.com/embed/QJsFsdUlON4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 col-6">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
	          <div class="features-icons-icon d-flex">
	            <%= fa_icon "heartbeat 2x", class: "nutrition-only-icon" %>
	          </div>
	          <h3 class="text-center">Daily Calorie/Macros Tracking</h3>
	          <p class="lead mb-0 text-center">Wether you are tracking macros or calories, you can set daily limits and see your progress quickly.</p>
	        </div>
				</div>
				<div class="col-md-3 col-6">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
	          <div class="features-icons-icon d-flex">
	            <%= fa_icon "heartbeat 2x", class: "nutrition-only-icon" %>
	          </div>
	          <h3 class="text-center">Preloaded Approved Food</h3>
	          <p class="lead mb-0">Partnering with Project 49, we have preloaded an approved list of food that give you flexibility in what you can eat, but still stay on track with the nutrition plan.</p>
	        </div>
				</div>
				<div class="col-md-3 col-6">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
	          <div class="features-icons-icon d-flex">
	            <%= fa_icon "heartbeat 2x", class: "nutrition-only-icon" %>
	          </div>
	          <h3 class="text-center">Food Nutrition Breakdown</h3>
	          <p class="lead mb-0">Detailed breakdown of food allows you to know exactly what makes up the food you are taking in, and helps you make the most informed decision in what you are eating.</p>
	        </div>
				</div>
				<div class="col-md-3 col-6">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
	          <div class="features-icons-icon d-flex">
	            <%= fa_icon "heartbeat 2x", class: "nutrition-only-icon" %>
	          </div>
	          <h3 class="text-center">Personalized Foods and Search</h3>
	          <p class="lead mb-0">If the pre-loaded foods don't have what you are eating, quickly add personalized food that only you can see. You can also search food in the app that someone else might have already entered.</p>
	        </div>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="d-md-none">
	<div class="row">
		<div class="col-md-7 boomslang-green d-md-none" style="text-align: center;
	    margin-top: -1em;color:white;">
			<p>
				Boomslang Fitness nutrition app is an easy, user friendly, nutrition tracker focused on  guiding you through our partners over at Project 49, Nutrition Program.
			</p>
			<p>
				By utilizing this app while taking advantage of the 45 day, Project 49 fitness program, you will be able to stay on track with your nutrition goals and get the best results out of the program.
			</p>
			<p>
				Check out our quick, step by step tutorial, on how to get started tracking your nutrition today.
			</p>
		</div>
		<div class="col-md-5" style="margin-left:-1em;">
			<iframe width="415" height="320" src="https://www.youtube.com/embed/QJsFsdUlON4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-4 text-middle">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
	          <div class="features-icons-icon d-flex">
	            <%= fa_icon "heartbeat 2x", class: "nutrition-only-icon" %>
	          </div>
	          <h5 class="text-center boomslang-orange">Daily Calorie and Macros Tracking</h5>
	        </div>
				</div>
				<div class="col-8">
					<p class="lead mb-0 text-right">Wether you are tracking macros or calories, you can set daily limits and see your progress quickly.</p>
				</div>
				<div style="border:1px solid grey;width:100%"></div>
			</div>
			<div class="row">
	      <div class="col-8">
	        <p class="lead mb-0 text-left">Partnering with Project 49, we have preloaded an approved list of food that give you flexibility in what you can eat, but still stay on track with the nutrition plan.</p>
	      </div>
	      <div class="col-4 text-middle">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
	          <div class="features-icons-icon d-flex">
	            <%= fa_icon "heartbeat 2x", class: "nutrition-only-icon" %>
	          </div>
	          <h5 class="text-center boomslang-orange">Preloaded Approved Food</h5>
	        </div>
	      </div>
				<div style="border:1px solid grey;width:100%"></div>
			</div>
			<div class="row">
				<div class="col-4 text-middle">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
	          <div class="features-icons-icon d-flex">
	            <%= fa_icon "heartbeat 2x", class: "nutrition-only-icon" %>
	          </div>
	          <h5 class="text-center boomslang-orange">Food Nutrition Breakdown</h5>
	        </div>
	      </div>
	      <div class="col-8">
	        <p class="lead mb-0 text-right">Detailed breakdown of food allows you to know exactly what makes up the food you are taking in, and helps you make the most informed decision in what you are eating.</p>
	      </div>
				<div style="border:1px solid grey;width:100%"></div>
			</div>
			<div class="row">
				<div class="col-8">
					<p class="lead mb-0 text-left">If the pre-loaded foods don't have what you are eating, quickly add personalized food that only you can see. You can also search food in the app that someone else might have already entered.</p>
				</div>
				<div class="col-4 text-middle">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
	          <div class="features-icons-icon d-flex">
	            <%= fa_icon "heartbeat 2x", class: "nutrition-only-icon" %>
	          </div>
	          <h5 class="text-center boomslang-orange">Personalized Foods and Search</h5>
	        </div>
				</div>
			</div>
		</div>
	</section>
</div>
