<div class="accordion" id="accordionWorkoutDetail">
	<% @workouts.each_with_index do |prev_workout, idx| %>
		<div class="card">
	    <div class="card-header workout-header" id="heading_<%= idx %>">
	      <h5 class="mb-0 text-center">
	        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_<%= idx %>" aria-expanded="true" aria-controls="collapse_<% idx %>" style="color:white;">
	          <div>
	          	<%= prev_workout.workout_group.workout.name %>
			  			<div class="text-muted">(<%=prev_workout.workout_group.name %>)</div>
			  			<i><%= prev_workout.workout_date.strftime('%m/%d/%y') %></i>
					 	</div>
	        </button>
	      </h5>
	    </div>

	    <div id="collapse_<%= idx %>" class="collapse" aria-labelledby="heading_<%= idx %>" data-parent="#accordionWorkoutDetail">
	      <div class="container">
	      	<div class="table-responsive">
	      	<table class="table table-bordered" style="color:white;border-top-right-radius: 25px;border-top-left-radius: 25px;margin-top:15px;">
				  <thead>
					  	<tr>
					  		<th scope="col" colspan="7" class="text-center workout-header">
					  			<%= prev_workout.workout_group.workout.name %>
					  			<div class="text-muted">(<%=prev_workout.workout_group.name %>)</div>
					  			<i><%= prev_workout.workout_date.strftime('%m/%d/%y') %></i>
					  		</th>
					  	</tr>  
					    <tr style="background-color:#8C8C8C;">
					      <th scope="col">Exercise</th>
					      <th scope="col">Rep 1</th>
					      <th scope="col">Rep 2</th>
					      <th scope="col">Rep 3</th>
					      <th scope="col">Rep 4</th>
					      <th scope="col">Rep 5</th>
					      <th scope="col">Exercise Comment</th>
					    </tr>
					  </thead>

					  <tbody>
							<% prev_workout.workout_details.each do |workout_detail| %>
									<tr style="background:#262626;">
									  <th sope="row"><%= workout_detail.exercise.name unless workout_detail.exercise.nil? %></th>
										<td><%= workout_detail.rep_1_weight %></td>
										<td><%= workout_detail.rep_2_weight %></td>
										<td><%= workout_detail.rep_3_weight %></td>
										<td><%= workout_detail.rep_4_weight %></td>
										<td><%= workout_detail.rep_5_weight %></td>
										<td><%= workout_detail.comment %></td>
									</tr>
							<% end %>
						</tbody>
					</table>
				</div>
	      </div>
	    </div>
   	</div>
	<% end %>
</div>

