<% @workouts.each do |prev_workout| %>
	<table class="table table-bordered" style="background:#262626;color:white;border-top-right-radius: 25px;border-top-left-radius: 25px;">
	  <thead>
	  	<tr>
	  		<th scope="col" colspan="6" class="text-center workout-header">
	  			<%= prev_workout.workout_group.workout.name %>
	  			<div class="text-muted">(<%=prev_workout.workout_group.name %>)</div>
	  			<i><%= prev_workout.workout_date.strftime('%m/%d/%y') %></i>
	  		</th>
	  	</tr>  
	    <tr style="background-color:#8C8C8C;">
	      <th scope="col">Exercise</th>
	      <th scope="col">Rep 1</th>
	      <th scope="col">Rep 2</th>
	      <th scope="col">Rep 3</th>
	      <th scope="col">Rep 4</th>
	      <th scope="col">Rep 5</th>
	    </tr>
	  </thead>

	  <tbody>
			<% prev_workout.workout_group.workout_details.each do |workout_group| %>
				<tr>
				  <th sope="row"><%= workout_group.exercise.name unless workout_group.exercise.nil? %></th>
					<td><%= workout_group.rep_1_weight %></td>
					<td><%= workout_group.rep_2_weight %></td>
					<td><%= workout_group.rep_3_weight %></td>
					<td><%= workout_group.rep_4_weight %></td>
					<td><%= workout_group.rep_5_weight %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
