<% if @workout.nil? %>
	<div class="jumbotron">
		<h1 class="display-4">There are no Workouts for you!</h1>
		<p class="lead">Check with your gym and see if they have set the workouts up!</p>
	</div>
<% elsif  @workout_group.nil? %>
	<div class="jumbotron">
		<h1 class="display-4">There are no Workouts for you!</h1>
		<p class="lead">Awesome job this week. You have completed all workouts for this program for the week. Rest and let your body do what it was made to do....evolve!</p>
	</div>
<% else %>
	<% if @user.current_workout.nil? %>
		<div class="row">
			<div class="col-md-9 text-muted">Your next workout, if you choose to accept it. Below is an overview of each workout and it's exercises.</div>
		  <div class="col-md-3 text-right">
				<div class="btn-group" role="group">
					<%= button_to "Yes", accept_deny_workout_path(accept: true, workout_id: @workout.id), remote: true, class: 'btn btn-secondary btn-sm btn-success' %><%= button_to "No", accept_deny_workout_path(deny: true, workout_id: @workout.id), class: 'btn btn-secondary btn-sm btn-danger' %>
				</div>
			</div>
		</div>
	<% elsif !@already_worked_out %>
		<div class="row">
			<div class="col-md-8">Keep pushing!</div>
		</div>
	<% end %>


	<% if @already_worked_out %>
		<div class="jumbotron">
			<h1 class="display-4">Awesome Workout Today!</h1>
			<p class="lead">Come back tomorrow and get some more. Keep it up and the results will come!</p>
		</div>
	<% else %>

		<%= form_for :exercises, url: create_workout_detail_path do |f| %>
			<div class="card">
			  <div class="card-body <%= Category.style_tags[@workout.category.tag]['background-color'] %>">
			  	<div class="text-center">
				  	<p>
				  		<h2><%= @workout.name %></h2>
				  		<i class="text-warning"><%= @workout.category.name %></i>
				  	</p>
						<p><h5><%= @workout.frequency %> days per week</h5></p>
						<p><%= @workout.duration %> week workout cycle</p>
					</div>
					<% if @user.current_workout == @workout.id %>
						<div class="text-right">
							<p><%= f.submit "Log It", class: 'btn btn-sm btn-success' %></p>
						</div>
					<% end %>
			  </div>
			</div>

			<% if @user.current_workout.nil? %>
	  		<% @workout.workout_groups.each do |group| %>
	  			<tr>
	  				<th scope="col" colspan="<%= 3 + @workout.frequency %>" class="text-center bg-success"><%= group.name %></th>
	  			</tr>
	  			<% group.exercises.each do |exercise| %>
			    <tr>
			      <th scope="row"><%= exercise.name %></th>
			      <td><%= exercise.warm_up %></td>
			      <td><%= exercise.warm_up_details %></td>
			      <%= f.fields_for 'workout_detail[]', exercise.workout_details.new do |workout_detail| %>
			      	<%= workout_detail.hidden_field :exercise_id, value: "#{exercise.id}" %>
			      	<%= workout_detail.hidden_field :workout_group_id, value: "#{exercise.workout_group_id}" %>
			      	<%= workout_detail.hidden_field :workout_date, value: "#{DateTime.now.in_time_zone}" %>
				      <% 1.upto(@workout.frequency) do |num| %>
				      	<td>
				      		<% if @user.current_workout == @workout.id %>
				      			<%= workout_detail.text_field "rep_#{num}_weight", size: 3 %>
				      		<% end %>
				      	</td>
				      <% end %>
				    <% end %>
			    </tr>
			  <% end %>
	  		<% end %>
	  	<% else %>
				<div id="accordion">
					<% @workout_group.exercises.group_by(&:super_set_id).each_with_index do |exercise_group, ex_group_idx| %>
			  		<% bg_color = Category.style_tags.to_a.sample[1] %>
			  		<div class="card">
					    <div class="card-header <%= bg_color['border'] %>" id="heading<%= ex_group_idx %>">
					      <h5 class="mb-0 row">
					      	<div style="overflow:auto;" class="col-md-9">
						        <a class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= ex_group_idx %>" aria-expanded="true" aria-controls="collapse<%= ex_group_idx %>">
						          <%= exercise_group[1].collect { |ex| ex.name }.join('/') %>
						        </a>
						      </div>
						      <div class="col-md-3 exercise-counter text-right">0 of <%= exercise_group.count %> complete</div>
					      </h5>
					    </div>
					    <div id="collapse<%= ex_group_idx %>" class="collapse" aria-labelledby="heading<%= ex_group_idx %>" data-parent="#accordion">
					      <div class="card-body <%= bg_color['background-color'] %>">
						  		<% exercise_group[1].each_with_index do |exercise, ex_idx| %>
						  			<div class="row" style="height:5%;border-bottom:1px solid black;">
						      		<div class="col-md-6 col-sm-6 col-6" style="margin-top:10px;">
						      			<%= exercise.name %>
						      		</div>
						      		<div class="col-md-3 col-sm-3 col-3" style="margin-top:10px;">
						      			<%= exercise.set_count %> Sets
						      		</div>
						      		<div class="col-md-3 col-sm-3 col-3" style="margin-top:10px;">
						      			<%= exercise.rep_range %> Reps
						      		</div>
						      	</div>

						      	<div class="row" style="padding-top:30px;">
											<% 1.upto(exercise.set_count) do |num| %>
												<% col_space = 12 / exercise.set_count %>
								      	<div class="col-md-<%= col_space %> col-sm-<%= col_space %> col-<%= col_space %>">Rep <%= num %></i></div>
								      <% end %>
								    </div>

								    <%= f.fields_for 'workout_detail[]', exercise.workout_details.new do |workout_detail| %>
							      	<%= workout_detail.hidden_field :exercise_id, value: "#{exercise.id}" %>
							      	<%= workout_detail.hidden_field :workout_group_id, value: "#{exercise.workout_group_id}" %>
							      	<%= workout_detail.hidden_field :workout_date, value: "#{DateTime.now.in_time_zone}" %>
							      	<div class="row" style="padding-bottom:30px;border-bottom:1px solid black;">
									      <% 1.upto(exercise.set_count) do |num| %>
									      	<% col_space = 12 / exercise.set_count %>
								      		<% if @user.current_workout == @workout.id %>
								      			<div class="col-md-<%= col_space %> col-sm-<%= col_space %> col-<%= col_space %> rep"><%= workout_detail.text_field "rep_#{num}_weight", size: 3, class: "rep_input" %></div>
								      		<% end %>
									      <% end %>
							      	</div>
								    <% end %>
									<% end %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		<% end %>
	<% end %>
<% end %>
