<%= render "partials/alert" %>
<div class="container">
  <%= form_for @workout, url: workout_index_path, method: :post do |f| %>
     <div class="row">
      <div class="col-md-12 col-sm-12 form-group">
        <%= f.label :name, class: 'col-md-12' %>
        <%= f.text_field :name, class: 'col-md-12 form-control' %>
      </div>
     </div>

     <div class="row">
      <div class="col-md-6 col-sm-12 form-group">
        <%= f.label :frequency, "How often to workout?", class: 'col-md-12' %>
        <%= f.select :frequency, (1..5).collect { |freq| [ "#{freq} times a week", freq ] }, { prompt: "--- Please select how often to workout ---"}, class: 'col-md-12 form-control' %>
      </div>
      <div class="col-md-6 col-sm-12 form-group">
        <%= f.label :duration, "How many weeks is this workout cycle?", class: 'col-md-12' %>
        <%= f.text_field :duration, class: 'col-md-12 form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 form-group">
        <%= f.label :category_id, "Category", class: 'col-md-12' %>
        <%= f.select :category_id, @categories.collect {|category| [ category.name, category.id ] }, { prompt: "--- Please select Category ---" }, class: 'col-md-12 form-control' %>
      </div>
    </div>

  	<%= f.submit "Create Workout", class: 'btn btn-lg btn-block workout-btn' %>
  <% end %>
</div>
