<%= form_for @user, url: profile_path(@user.id), method: :patch do |f| %>
  <div class="row">
    <div class="col-md-2" style="padding-top:20px;background:#003259;">
      <ul class="nav nav-pills" id="workoutTab" role="tablist">
        <li class='nav-item nav-li'><a class='nav-link active' id='user_info-tab' data-toggle='tab' href='#user_info' role='tab' aria-controls='user_info' aira-selected='true'>User Info.</a></li>
        <li class='nav-item nav-li'><a class='nav-link' id='measurements-tab' data-toggle='tab' href='#measurements' role='tab' aria-controls='measurements' aria-selected='true'>User Measurements</a></li>
        <li class='nav-item nav-li'><a class='nav-link' id='goals-tab' data-toggle='tab' href='#goals' role='tab' aria-controls='goals' aria-selected='true'>User Goals</a></li>
        <li class='nav-item nav-li'><a class='nav-link' id='inbox-tab' data-toggle='tab' href='#inbox' role='tab' aria-controls='inbox' aria-selected='true'>User Messages</a></li>
        <% if @user.gym.admin_ids.include?(@user.id.to_s) %>
          <li class='nav-item nav-li'><a class='nav-link' id='user-notes-tab' data-toggle='tab' href='#user-notes' role='tab' aria-controls='user-notes' aria-selected='true'>User Notes</a></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-10" style="padding-top:20px;">
      <%= render "partials/alert" %>
      <div class="tab-content" id="workoutTabContent">
        <div class="tab-pane fade show active" id='user_info' role='tabpanel' aria-labelledby='user_info'>
          <div class="container">
            <div class="row">
              <%= image_tag @user.avatar.url, class: "rounded-image" %>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-6 form-group">
                <%= f.label :first_name, class: 'col-md-12' %>
                <%= f.text_field :first_name, class: 'col-md-12 form-control' %>
              </div>
              <div class="col-md-6 col-sm-6 form-group">
                <%= f.label :last_name, class: 'col-md-12' %>
                <%= f.text_field :last_name, class: 'col-md-12 form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-sm-6 form-group">
                <%= f.label :height, class: 'col-md-12' %>
                <%= f.text_field :height, class: 'col-md-12 form-control' %>
              </div>
              <div class="col-md-6 col-sm-6 form-group">
                <%= f.label :weight, class: 'col-md-12' %>
                <%= f.text_field :weight, class: 'col-md-12 form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 form-group">
                <%= f.label :regularity_id, class: 'col-md-12' %>
                <%= f.select :regularity_id, @regularity.collect { |key, regularity| [regularity,key] }, { prompt: "How often do you workout?", selected: "#{@user.regularity_id}week" }, class: 'col-md-12 form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 form-group">
                <%= f.label :goal_id, class: 'col-md-12' %>
                <%= f.select :goal_id, @goals.collect { |key, goal| [goal,key] }, { prompt: "Select Goal" }, class: 'col-md-12 form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 form-group">
                <%= f.label :gym_id, class: 'col-md-12' %>
                <%= f.select :gym_id, @gyms.collect { |gym| [gym.name, gym.id] }, { prompt: "Select Your Gym" }, class: 'col-md-12 form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 form-group">
                <%= f.label :current_workout, class: 'col-md-12' %>
                <%= f.select :current_workout, @workouts.collect { |group| [group.name, group.id] }, { prompt: "Select A Workout, see details on Workout tab", selected: @user.current_workout }, class: 'col-md-12 form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 form-group">
                <%= f.label :trainer_id, class: 'col-md-12' %>
                <%= f.select :trainer_id, @trainers.collect { |trainer| ["#{trainer.first_name} #{trainer.last_name}", trainer.id] }, { prompt: "Select Your Trainer" }, class: 'col-md-12 form-control' %>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <%= f.label :medical_concerns, "Medical Concerns" %>
                <%= f.text_area :medical_concerns, class: 'form-control' %>
              </div>
            </div>

            <div class="row">
              <%= f.label :avatar, "Upload Profile Picture:", class: 'col-6' %>
              <div class="col-6">
                <%= f.file_field :avatar %>
              </div>
            </div>
            <%= f.submit "Edit User Profile", class: 'btn btn-lg btn-block profile-submit-btn container' %>
          </div>
        </div>
        <div class="tab-pane fade show" id='measurements' role='tabpanel' aria-labelledby='measurements'>
          <div class="container">
            <%= f.fields_for :measurements, @user.measurements.last do |ff| %>
              <h5 class="text-center lead">Girth Measurements (in.)</h5>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :upper_arm, "Upper Arm" %>
                    <%= ff.number_field :upper_arm, value: @measurements.upper_arm, class: "form-control" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :chest %>
                    <%= ff.number_field :chest, value: @measurements.chest, class: "form-control" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :waist %>
                    <%= ff.number_field :waist, value: @measurements.waist, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :hip %>
                    <%= ff.number_field :hip, value: @measurements.hip, class: "form-control" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :thigh %>
                    <%= ff.number_field :thigh, value: @measurements.thigh, class: "form-control" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :calf %>
                    <%= ff.number_field :calf, value: @measurements.calf, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :wrist %>
                    <%= ff.number_field :wrist, value: @measurements.wrist, class: "form-control" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :forearm %>
                    <%= ff.number_field :forearm, value: @measurements.forearm, class: "form-control" %>
                  </div>
                </div>
              </div>
              <h5 class="text-center lead">Skinfolds Measurements (mm.)</h5>
              <hr/>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :left_tricep, "Left Tricep" %>
                    <%= ff.number_field :left_tricep, value: @measurements.left_tricep, class: "form-control" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :right_tricep, "Right Tricep" %>
                    <%= ff.number_field :right_tricep, value: @measurements.right_tricep, class: "form-control" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :subscapular %>
                    <%= ff.number_field :subscapular, value: @measurements.subscapular, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :abdominal %>
                    <%= ff.number_field :abdominal, value: @measurements.abdominal, class: "form-control" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :mid_thigh, "Mid-Thigh" %>
                    <%= ff.number_field :mid_thigh, value: @measurements.mid_thigh, class: "form-control" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :inside_calf, "Inside Calf" %>
                    <%= ff.number_field :inside_calf, value: @measurements.inside_calf, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :pec, "Pec (men)" %>
                    <%= ff.number_field :pec, value: @measurements.pec, class: "form-control" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :left_bicep, "Left Bicep" %>
                    <%= ff.number_field :left_bicep, value: @measurements.left_bicep, class: "form-control" %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :right_bicep, "Right Bicep" %>
                    <%= ff.number_field :right_bicep, value: @measurements.right_bicep, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <%= ff.label :suprailiac %>
                    <%= ff.number_field :suprailiac, value: @measurements.suprailiac, class: "form-control" %>
                  </div>
                </div>
              </div>
            <% end %>
            <%= f.submit "Edit User Profile", class: 'btn btn-lg btn-block profile-submit-btn container' %>
          </div>
        </div>
        <div class="tab-pane fade show" id='goals' role='tabpanel' aria-labelledby="goals">
            <%= form_for :goal, url: create_goal_path, method: :post do |f| %>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-12 form-group">
                  <%= f.label :comment, "Goal Details", { style: "color:white;" } %>
                  <%= f.text_area :comment, placeholder: "Please enter your goal details here...", class: "form-control" %>
                </div>
              </div>

              <%= f.submit "Submit Goal", class: "btn btn-block workout-btn" %>
            <% end %>

            <table class="table">
              <tbody>
                <% @user_goals.each do |goal| %>
                  <tr>
                    <td><%= goal.comment %></td>
                    <td><%= link_to "Delete", delete_goal_path(goal.id), method: :delete, data: { confirm: 'Are you suer you want to delete this goal?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
        <div class="tab-pane fade show" id='inbox' role='tabpanel' aria-labelledby="inbox">
        </div>
        <div class="tab-pane fade show" id='user-notes' role='tabpanel' aria-labelledby="user-notes">
          <%= form_for :user_note, url: create_user_note_path, method: :post do |f| %>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-12 form-group">
                <%= f.hidden_field :user_id, value: @user.id %>
                <%= f.label :note, "Note about user" %>
                <%= f.text_area :note, placeholder: "Please enter any notes to know about the user or a users workout.", class: "form-control" %>
              </div>
            </div>

            <%= f.submit "Add Note", class: "btn btn-block workout-btn" %>
          <% end %>

          <% if @user.user_notes.empty? %>
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4 text-center">No User Notes</h1>
              </div>
            </div>
          <% else %>
            <table class="table" style="margin-top:20px;">
              <thead>
                <tr class="workout-background">
                  <td colspan="3" class="text-center">Previous Notes</td>
                </tr>
              </thead>
              <tbody>
                <% @user.user_notes.each do |user_note| %>
                  <tr>
                    <td><%= user_note.note %></td>
                    <td><%= user_note.created_at.strftime("%m/%d/%Y") %>
                    <td><%#= link_to "Delete", delete_goal_path(goal.id), method: :delete, data: { confirm: 'Are you suer you want to delete this goal?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
