<%= render "partials/alert" %>

<div id="profile-background">
  <div class="col-md-10 col-10 offset-1">
    <%= link_to edit_profile_path(@user.id), id: "edit_profile" do %>
      <div class="row">
        <%= image_tag @user.avatar.url, class: "rounded-image" %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-4 detail-font-size">
        <b style="color:#fafafa;">Weight:</b> <div><%= @user.weight %> lbs.</div>
      </div>
      <div class="col-md-4 col-sm-4 col-4 detail-font-size" style="">
        <b style="color:#fafafa;">Height:</b> <div><%= @height[0] %>' <%= @height[1] %>"</div>
      </div>
      <div class="col-md-4 col-sm-4 col-4 detail-font-size">
        <div style="color:#fafafa">BMI: </div><div style="color:<%= @bmi_status %>;text-align:center;"><%= @bmi %></div>
      </div>
    </div>
  </div>
  <% unless @user.nutrition_only %>
    <div class="col-md-12 col-12 text-center" style="margin-top:10px;margin-bottom:10px;">
      <b>Current Workout:</b> <% unless @user.current_workout.nil? %><div style="color:#003259;"><%= @workout.name %></div> <%#= link_to "Change Workout", stop_workout_path, method: :patch, class: "btn btn btn-danger btn-sm text-center" %><% end %>
    </div>
  <% end %>
</div>

<!-- <div class="progress" style="height: 60px;margin-bottom:0;">
  <div class="progress-bar progress-bar-striped bg-primary" style="width: <%#= (((@user.tdee - @remaining_tdee)/@user.tdee.to_f) * 100.0).round %>%;color:black;text-align:center;padding-left:5px;" role="progressbar" aria-valuenow="<%#= @user.tdee - @remaining_tdee %>" aria-valuemin="0" aria-valuemax="<%#= @user.tdee %>"><%#= @user.tdee - @remaining_tdee %> calories consumed</div>
</div> -->

<% if @user.nutrition_only %>
    <div class="btn-group" role="group" aria-label="Basic example" style="margin-bottom:0;width:100%;">
      <% if @daily_log.nil? %>
        <%= link_to "Log Food", new_daily_log_path, class: "btn btn profile-link col-md-12 col-sm-12 col-12 text-center", style: 'background-color:#F29F05;' %>
      <% else %>
        <%= link_to "Log Food", daily_log_path(@daily_log.id), class: "btn btn profile-link col-md-12 col-sm-12 col-12 text-center", style: 'background-color:#F29F05;' %>
      <% end %>
      <%= link_to "My Foods", food_index_path, class: "btn btn profile-link col-md-12 col-sm-12 col-12 text-center", style: 'border-left: 1px solid #003259;background-color:#F29F05;'%>
    </div>
<% else %>
  <% if @daily_log.nil? %>
    <%= link_to "Log Food", new_daily_log_path, class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center", style: 'background-color:#F29F05;' %>
  <% else %>
    <%= link_to "Log Food", daily_log_path(@daily_log.id), class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center", style: 'background-color:#F29F05;' %>
  <% end %>
  
  <%= link_to "Workout History", workout_history_path, class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center", style: 'background-color:#F29F05;' %>

  <%= link_to "Manually Enter Workout", manual_workout_path, class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center", style: 'background-color:#F29F05;' %>

  <%= link_to "Start Workout", kiosk_exercise_path, class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center", style: 'background-color:#F29F05;' %>

  <%= link_to "Workout of the Day", kiosk_exercise_path(workout_id: @wod.workout_id), class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center", style: 'background-color:#F29F05;' unless @wod.nil? %>
<% end %>
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-right"></th>
        <th class='text-center'>Total</th>
        <th class='text-center'>Remaining</th>
        <th>Consumed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b><i>Calories</i></b></td>
        <td class='text-center'><%= @user.tdee %></td>
        <td class='text-center'><%= @remaining_tdee %></td>
        <td class='text-center'><%= @user.tdee - @remaining_tdee %></td>
      </tr>
      <tr>
        <td><b><i>Protein</i></b></td>
        <td class='text-center'><%= @user.protein_total %></td>
        <td class='text-center'><%= @remaining_protein %></td>
        <td class='text-center'><%= (@user.protein_total - @remaining_protein).round(2) %></td>
      </tr>
      <tr>
        <td><b><i>Carbs</i></b></td>
        <td class='text-center'><%= @user.carb_total %></td>
        <td class='text-center'><%= @remaining_carbs %></td>
        <td class='text-center'><%= (@user.carb_total - @remaining_carbs).round(2) %></td>
      </tr>
      <tr>
        <td><b><i>Fats</i></b></td>
        <td class='text-center'><%= @user.fat_total %></td>
        <td class='text-center'><%= @remaining_fats %></td>
        <td class='text-center'><%= (@user.fat_total - @remaining_fats).round(2) %></td>
      </tr>
    </tbody>
  </table>
</div>
