<%= render "partials/alert" %>

<div id="profile-background">
  <div class="col-md-10 col-10 offset-1">
      <%= link_to edit_profile_path(@user.id), id: "edit_profile" do %>
        <div class="row">
          <%= image_tag @user.avatar.url, class: "rounded-image" %>
        </div>
      <% end %>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-4 detail-font-size">
        <b style="color:#fafafa;">Weight:</b> <div style="color:rgba(255, 255, 255, 0.5);"><%= @user.weight %> lbs.</div>
      </div>
      <div class="col-md-4 col-sm-4 col-4 detail-font-size" style="">
        <b style="color:#fafafa;">Height:</b> <div style="color:rgba(255, 255, 255, 0.5);"><%= @height[0] %>' <%= @height[1] %>"</div>
      </div>
      <div class="col-md-4 col-sm-4 col-4 detail-font-size">
        <div style="color:#fafafa">BMI: </div><div style="color:<%= @bmi_status %>;text-align:center;"><%= @bmi %></div>
      </div>
    </div>
  </div>
</div>

<% if @user.nutrition_only %>
  <% if @daily_log.nil? %>
    <%= link_to "Log Food", new_daily_log_path, class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center" %>
  <% else %>
    <%= link_to "Log Food", daily_log_path(@daily_log.id), class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center" %>
  <% end %>
  <%= link_to "My Foods", food_index_path, class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center" %>
  <div class="container-fluid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class='text-center'>Daily Total</th>
          <th class='text-center'>Remaining</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='text-center'>Calories: <%= @user.tdee %></td>
          <td class='text-center'>Calories: <%= @remaining_tdee %></td>
        </tr>
        <tr>
          <td class='text-center'>Protein: <%= @user.protein_total %></td>
          <td class='text-center'>Protein: <%= @remaining_protein %></td>
        </tr>
        <tr>
          <td class='text-center'>Carbs: <%= @user.carb_total %></td>
          <td class='text-center'>Carbs: <%= @remaining_carbs %></td>
        </tr>
        <tr>
          <td class='text-center'>Fats: <%= @user.fat_total %></td>
          <td class='text-center'>Fats: <%= @remaining_fats %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% else %>
  <% if @daily_log.nil? %>
    <%= link_to "Log Food", new_daily_log_path, class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center" %>
  <% else %>
    <%= link_to "Log Food", daily_log_path(@daily_log.id), class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center" %>
  <% end %>
  
  <%= link_to "Workout History", workout_history_path, class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center" %>

  <%= link_to "Manually Enter Workout", manual_workout_path, class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center" %>

  <%= link_to "Start Workout", kiosk_exercise_path, class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center" %>

  <%= link_to "Workout of the Day", kiosk_exercise_path(workout_id: @wod.workout_id), class: "btn btn workout-btn profile-link col-md-12 col-sm-12 col-12 text-center" unless @wod.nil? %>

  <div class="container-fluid">
    <div class="row" style="margin-top:10px;">
      <div class="col-md-10 col-10 offset-1">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-6 text-center">
            <b>Workout Regularity:</b> <div style="color:#003259;"><%= User.regularities["#{@user.regularity_id}week"] %></div>
          </div>
          <div class="col-md-6 col-sm-6 col-6 text-center">
            <b>Current Workout:</b> <% unless @user.current_workout.nil? %><div style="color:#003259;"><%= @workout.name %></div> <%= link_to "Change Workout", stop_workout_path, method: :patch, class: "btn btn btn-danger btn-sm" %><% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-10 offset-1">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-6 text-center">
            <b>Current Gym:</b> <div style="color:#003259;"><%= @user.gym.name %></div>
          </div>
          <div class="col-md-6 col-sm-6 col-6 text-center">
            <b>Workout Goal:</b> <div style="color:#003259;"><%= User.goals["#{@user.goal_id}"] %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
