<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  let chart;
  let options = {
    title: 'Workout Stats - Max weight trending',
    curveType: 'function',
    legend: { position: 'bottom' }
  };
  
  function drawChart(reloadId) {
    counter = 0;

    $.each(<%= raw @workout_stats %>, function( key, values) {
      if (reloadId) {
      } else {
        $('#workoutTab').append(
          "<li class='nav-item'><a class='nav-link' id='child-div-workout" + counter + "-tab' data-toggle='tab' href='#child-div-workout" + counter + "' role='tab' aria-controls='child-div-workout" + counter + "'>" + key + "</a></li>"
        );
        $('#workoutTabContent').append("<div class='tab-pane fade col-12' id='child-div-workout" + counter + "' role='tabpanel' aria-labelledby='child-div-workout" + counter + "' style='height:300px;'><ul class='nav nav-pills' id='historyTab' role='tablist' style='margin-bottom:30px;'><li></li></ul><div class='tab-content' id='childTabContent-" + counter + "'></div></div>");
      }

      let headerCounter = counter;
      $.each(values, function( key, value) {
        let data = google.visualization.arrayToDataTable(value);
        if (reloadId && $('#' + reloadId + '-tab').text() === key) {
          element = document.getElementById(reloadId);
          chart = new google.visualization.LineChart(element);
          $(document).on( 'shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
            chart.draw(data, options);  
          });
        } else if (reloadId) {
        } else {
          $('#child-div-workout' + headerCounter + " ul").append("<li class='nav-item'><a class='nav-link' id='child-div-" + counter + "-tab' data-toggle='tab' href='#child-div-" + counter + "' role='tab' aria-controls='child-div-" + counter + "'>" + key + "</a></li>");
          $('#childTabContent-' + headerCounter).append("<div class='tab-pane fade col-12' id='child-div-" + counter + "' role='tabpanel' aria-labelledby='child-div-" + counter + "' style='height:300px;'></div>")

          element = document.getElementById('child-div-' + counter);
          tab = document.getElementById('child-div-' + counter + "-tab");
          chart = new google.visualization.LineChart(element);
          chart.draw(data, options);

          $(tab).click(function(){
            str = $(this).attr('id')
            str = str.substring(0, str.length-4);
            drawChart(str)
          });
        }
        counter++;
      });
    });
  }
</script>
<div id="image-background" style="margin-top: -15px;">
  <div class="row">
    <div class="col-md-12 col-sm-12"><h3 class="text-center"><%= link_to "#{@user.first_name}'s Information", edit_profile_path(@user.id) %></h4></div>
    <div class="col-md-6 col-sm-6 col-6 text-center"><%= link_to "Workout History", workout_history_path %></div>
    <div class="col-md-6 col-sm-6 col-6 text-center"><%= link_to "Suggested Workout", kiosk_exercise_path unless @already_worked_out %></div>
  </div>
  
  <div class="row">
    <div class="col-md-6 col-sm-4 col-4 detail-font-size">
      <b>Weight:</b> <div style="color:#101216;"><%= @user.weight %> lbs.</div>
    </div>
    <div class="col-md-6 col-sm-4 col-4 detail-font-size" style="">
      <b>Height:</b> <div style="color:#101216;"><%= @height[0] %>' <%= @height[1] %>"</div>
    </div>
    <div class="col-md-6 col-sm-4 col-4 detail-font-size">
      BMI: <div style="color:<%= @bmi_status %>;text-align:center;"><%= @bmi %></div>
    </div>
  </div>
</div>

<%= render "partials/alert" %>

<div id="chart-div">
  <div class="container">
    <ul class="nav nav-pills" id="workoutTab" role="tablist" style="margin-bottom:30px;">
      <li class='nav-item'><a class='nav-link active' id='workout-trending-tab' data-toggle='tab' href='#workout-trending' role='tab' aria-controls='workout-trending' aria-selected='true'>Current Workout Stats</a></li>
    </ul>
  </div>
  <div class="tab-content" id="workoutTabContent">
    <div class="tab-pane fade show active" id='workout-trending' role='tabpanel' aria-labelledby='workout-trending'>
      <div class="row">
        <% unless @workout.nil? %>
          <div class="container">
            <div id="stats" class="row" style="margin-bottom:20px;">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header text-center header-background">
                    Exercise Weight Changes
                  </div>
                  <div class="card-body" style="min-height:95px;">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <% @differences.each do |exercise, weight| %>
                          <% if !weight.values.delete_if { |weight_value| weight_value.to_f == 0.0 }.empty? %>
                            <% if @counter == 0 %>
                              <div class="carousel-item active">
                            <% else %>
                              <div class="carousel-item">
                            <% end %>
                              <div style="height:200px;">
                                <div class="row">
                                  <div class="col-md-12 text-center"><%= exercise %></div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 col-6 text-center">Average</div><div class="col-md-6 col-6 text-center">Max</div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 col-6 text-center"><%= weight[:avg] %></div><div class="col-md-6 col-6 text-center"><%= weight[:max] %></div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 col-6 text-center"><%= trending_img(weight[:avg]) %></div><div class="col-md-6 col-6 text-center"><%= trending_img(weight[:max]) %></div>
                                </div>
                              </div>
                            </div>
                            <% @counter += 1 %>
                          <% end %>
                        <% end %>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header text-center header-background">
                    Current Workout: <b><i><%= @workout.name %></i></b>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-12 text-center"><%=  @workout.duration - @weeks_doing_workout %> weeks remaining</div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= progress_percent(@workout.duration, @weeks_doing_workout) %>" aria-valuenow="<%=  @workout.duration - @weeks_doing_workout %>" aria-valuemin="0" aria-valuemax="<%= @workout.duration %>"></div>
                    </div>
                  </div>
                </div>
              </div>
            <!--   STATS (All in current workokut, not history)
              - User increases in weight or speed, show up or down trend<br/>
              - Progress on current workout path<br/>
              - Possible suggested next workout based off goals laid out<br/>
              - Suggested exercise to focus on increase weight<br/>
              - Suggested time to increase run speed<br/>
              - Fastest exercise weight/rep increase ratio<br/> -->
            </div>
          </div>
        <% end %>
        <div class="col-md-6 col-sm-6 col-12 text-center">
          <b>Workout Regularity:</b> <div style="color:rgba(255, 255, 255, 0.5);"><%= User.regularities["#{@user.regularity_id}week"] %></div>
        </div>
        <div class="col-md-6 col-sm-6 col-12 text-center">
          <b>Workout Goal:</b> <div style="color:rgba(255, 255, 255, 0.5);"><%= User.goals["#{@user.goal_id}"] %></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-12 text-center">
          <b>Current Gym:</b> <div style="color:rgba(255, 255, 255, 0.5);"><%= @user.gym.name %></div>
        </div>
        <div class="col-md-6 col-sm-6 col-12 text-center">
          <b>Current Workout:</b> <% unless @user.current_workout.nil? %><div style="color:rgba(255, 255, 255, 0.5);"><%= @workout.name %></div> <%= link_to "Change Workout", stop_workout_path, method: :patch, class: "btn btn btn-danger btn-sm" %><% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

