<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  let chart;
  let options = {
    title: 'Workout Stats - Max weight trending',
    curveType: 'function',
    legend: { position: 'bottom' }
  };
  
  function drawChart(reloadId) {
    counter = 0;

    $.each(<%= raw @workout_stats %>, function( key, value) {
      var data = google.visualization.arrayToDataTable(value);
      if (reloadId && $('#' + reloadId + '-tab').text() === key) {
        element = document.getElementById(reloadId);
        chart = new google.visualization.LineChart(element);
        $(document).on( 'shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
          chart.draw(data, options);  
        });
      } else if (reloadId) {

      } else {
        $('#historyTab').append(
          "<li class='nav-item'><a class='nav-link' id='child-div-" + counter + "-tab' data-toggle='tab' href='#child-div-" + counter + "' role='tab' aria-controls='child-div-" + counter + "'>" + key + "</a></li>"
        );
        $('#historyTabContent').append("<div class='tab-pane fade col-12' id='child-div-" + counter + "' role='tabpanel' aria-labelledby='child-div-" + counter + "' style='height:300px;'></div>");

        element = document.getElementById('child-div-' + counter);
        tab = document.getElementById('child-div-' + counter + "-tab");
        chart = new google.visualization.LineChart(element);
        chart.draw(data, options);

        $(tab).click(function(){
          str = $(this).attr('id')
          str = str.substring(0, str.length-4);
          drawChart(str)
        });
      }

      counter++;
    });
  }
</script>

<div id="chart-div">
  <ul class="nav nav-pills" id="historyTab" role="tablist" style="margin-bottom:30px;">
    <li class='nav-item'><a class='nav-link active' id='profile-tab' data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aira-selected='true'>Profile</a></li>
  </ul>
  <div class="tab-content" id="historyTabContent">
    <div class="tab-pane fade show active" id='profile' role='tabpanel' aria-labelledby='profile'>
      <div class="card">
        <div class="card-header workout-header">
          <div class="row">
            <div class="col-md-9 col-sm-12"><h4><%= @user.first_name %>'s Information</h4></div>
            <div class="col-md-3 col-sm-12"><%= link_to "Workout History", workout_history_path %></div>
          </div>
          <%= link_to "Suggested Workout", workout_index_path unless @already_worked_out %>
          
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <p><b>Weight:</b> <%= @user.weight %> lbs.</p>
              <p><b>Height:</b> <%= @height[0] %>' <%= @height[1] %>"</p>
             <p><div style="color:<%= @bmi_status %>">BMI: <%= @bmi %></div></p>
            </div>
            <div class="col-md-6 col-sm-12">
              <p><b>Workout Regularity:</b> <%= User.regularities["#{@user.regularity_id}week"] %></p>
              <p><b>Workout Goal:</b> <%= User.goals["#{@user.goal_id}"] %></p>
              <p><b>Current Gym:</b> <%= @user.gym.name %></p>
              <p><b>Current Workout:</b> <% unless @user.current_workout.nil? %><%= @workout.name %> - <%= link_to "Change Workout", stop_workout_path, method: :patch, class: "btn btn btn-danger btn-sm" %><% end %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
