<!DOCTYPE html>
<html>
  <head>
    <title>Boomslang Fitness</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div style="background-color:#343a40 !important;height:10em;">
      <div class="row">
        <%= image_tag @gym.nil? ? "logo" : @gym.logo, class: "rounded-image" %>
      </div>
    </div>

    <div class="boomslang-green" style="height:30em;padding-top:5em;padding-bottom:5em;">
      <%= yield %>
    </div>

    <div class="" style="background-color:#343a40 !important;height:10em;">
    </div>
  </body>

  <script>
    $('.step-change').click(function(e) {
      e.preventDefault();
      let parent = $(this).parent();
      parent.toggle();
      $('#step-header').text(parent.next().attr('title'))
      $('#login-profile-background').css({"height":"550px"})
      parent.next().toggle();
    });

    $('.step-back').click(function(e) {
      e.preventDefault();
      let parent = $(this).parent();
      parent.toggle();
      $('#step-header').text(parent.prev().attr('title'))
      if (parent.prev().attr('id') === 'step1') {
        $('#login-profile-background').css({"height":"370px"})
      }
      parent.prev().toggle()
    })

</script>
</html>
