<!DOCTYPE html>
<html>
  <head>
    <title>Workout Randomizer</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div style="margin-top:20px;">
      <%= yield %>
    </div>
  </body>

  <script>
    $('.step-change').click(function(e) {
      e.preventDefault();
      let parent = $(this).parent();
      parent.toggle();
      $('#step-header').text(parent.next().attr('title'))
      parent.next().toggle();
    });

    $('.step-back').click(function(e) {
      e.preventDefault();
      let parent = $(this).parent();
      parent.toggle();
      $('#step-header').text(parent.prev().attr('title'))
      parent.prev().toggle();
    })

</script>
</html>
