<!DOCTYPE html>
<html>
  <head>
    <title><%= @title.nil? ? 'Boomslang Fitness' : @title %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/ba2895b48715180ecc670eeb4/db6e29e511358b11414780fdf.js");</script>
  </head>

  <body>
    <nav class="navbar navbar-light bg-dark static-top">
      <div class="container">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag 'logo-snake.png', size: '55x55' %>
        <% end %>
        <% if current_user %>
          <%= link_to "View Profile", profile_index_path , class: 'btn btn-primary' %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path , class: 'btn btn-primary' %>
        <% end %>
      </div>
    </nav>

    <%= yield %>

    <% if @footer %>
      <div id='footer'>
      </div>
    <% end %>
  </body>
</html>
