<!DOCTYPE html>
<html>
  <head>
    <title><%= @title.nil? ? 'Workout Randomizer' : @title %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id='image-background'>
  	<nav class="navbar navbar-expand-lg navbar-dark">
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
  		<div class="collapse navbar-collapse" id="navbarToggler">
  			<ul class="navbar-nav">
          <li><%= link_to "Profile", profile_index_path, class: 'nav-link' %></li>
          <li><%= link_to "Workouts", list_workouts_path, class: 'nav-link' %></li>
          <li><%= link_to "Categories", category_index_path, class: 'nav-link' %></li>
          <li><%= link_to "Inbox", inbox_index_path, class: 'nav-link' %></li>
          <% if current_user.gym.admin_ids.include?(current_user.id.to_s) %>
            <li><%= link_to "Gym", gym_path(current_user.gym.id), class: 'nav-link' %></li>
          <% end %>
		  		<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
		  	</ul>
		  </div>
		</nav>

    <div style="margin-top:50px;">
      <div class="container">
        <% unless notice.nil? %>
      	 	<p class="notice alert alert-primary alert-dismissible fade show" role="alert">
      	 		<%= notice %>
      	 		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>		
      	 	</p>
        <% end %>

        <% unless alert.nil? %>
          <p class="alert alert-danger alert-dismissible fade show" role="alert"">
          	<%= alert %>
          	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
          </p>
        <% end %>
      </div>

      <div class="container">
        <%= yield %>
      </div>
    </div>

    <% if @footer %>
      <div id='footer'>
      </div>
    <% end %>
  </body>
  <script>
    $('.rep_input').on('focusout', function(e){
      let rep_total = $(this).parents('.row').children().length
      let tally_count = 0

      $(this).parents('.row').children().each(function(index){
       if ($(this).children().val() !== '') {
         tally_count++;
       }
      });

      if ($(this).parents('.row').children().prop('complete')) {
      } else {
        if (rep_total === tally_count) {
          if ($(this).parents('.exercise-card').attr('complete') === 'true') {

          } else {
            let regex = RegExp(/\d+/i);
            let header = $(this).parents('.card').children('.card-header').children().children('.exercise-counter').text();

            let count = regex.exec(header);
            count++;

            $(this).parents('.card').children('.card-header').children().children('.exercise-counter').text(header.replace(regex, count.toString()));

            $(this).parents('.row').prevAll('.exercise-row').attr('complete', 'true');

            let percent = ($('.exercise-row[complete]').length / $('.exercise-row').length) * 100;

            $('.progress-bar').text(percent + '%')
            $('.progress-bar').css('width', percent + '%')
          }

        }
      }
    });
  </script>
</html>
